{{#> base title="Screen Reader Test Page" homeref="../../" }}
    {{#*inline "content"}}

        <div class="col-lg-8">
            <h2>Screen Reader Test Page</h2>
        </div>

    {{/inline}}
    {{/base}}
