{{#> base title="Screen Reader Test Page" homeref="../../" }}
{{#*inline "content"}}

<div class="col">
    <div class="row">
        <div class="col-lg-6">
            <h2>Screen Reader Test Page (h2)</h2>
            <p>
                Paragraph under heading level 2.
            </p>

            <h3 class="h4">Sub header 1 (h3)</h3>
            <p>
                Paragraph under first sub header, level 3.
            </p>

            <h3 class="h4">Sub header 2 (h3)</h3>
            <p>
                Paragraph under second sub header, level 3.
            </p>

            <h4 class="h5">Sub header 3 (h4)</h4>
            <p>
                Paragraph under first sub header, level 4.
            </p>

            <h4 class="h5">Sub header 4 (h4)</h4>
            <p>
                Paragraph under second sub header, level 4.
            </p>
        </div>
        <div class="col-lg-6">
            <div>
                <ul>
                    <li>Adam</li>
                    <li>Bertil</li>
                    <li>Ceasar</li>
                </ul>

                <ol>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                </ol>
            </div>

            <div class="mt-5">
                <a href="https://github.com/">Github</a>
                <a href="https://www.google.com/">Google</a>
                <a href="https://stackoverflow.com/">Stack Overflow</a>
            </div>

            <div class="mt-5">
                <button type="button" class="btn btn-primary">Button 1</button>
                <button type="button" class="btn btn-secondary">Button 2</button>
                <button type="button" class="btn btn-secondary">Button 3</button>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Table Header 1</th>
                        <th>Table Header 2</th>
                        <th>Table Header 3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>One</td>
                        <td>Two</td>
                        <td>Three</td>
                    </tr>
                    <tr>
                        <td>Adam</td>
                        <td>Bertil</td>
                        <td>Ceasar</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <aside class="mt-5">
        <!-- 
            More logical if this is a sibbling to main. It is valid to have it inside main, like we do (see StackOverflow).
            However VoiceOver landmark navigation will treat it as it is outside main.
            https://stackoverflow.com/questions/38023089/should-i-have-aside-element-ouside-or-inside-of-main-element
        -->
        <h2>This is aside content</h2>
        <p>
            Lorem ipsum dolores es sita met.
        </p>
    </aside>
</div>

{{/inline}}
{{/base}}