<tr>
    <th scope="row" rowspan="35" class="text-nowrap">2 Operable</th>
</tr>

<tr>
    <th scope="row" rowspan="5" class="text-nowrap">2.1 Keyboard accessible</th>
</tr>
<tr>
    <td class="text-nowrap">2.1.1 Keyboard</td>
    <td>A</td>
    <td>
        The intent of this Success Criterion is to ensure that, wherever possible, content can be operated through a keyboard.<br>
        <strong>It helps: Visually impaired, motor impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/keyboard.html" target="_blank">WCAG: Understanding 2.1.1: Keyboard</a>
    </td>
    <td>
        Ensure keyboard control for all functionality (there are exceptions like handdrawing).
        On mouseover event should also have an on focus event. 
        Bind events to keyboard accessible controls like a, button,
        the user agent will take care of firing an onclick event for you if activated via the keyboard.
    </td>
</tr>
<tr>
    <td class="text-nowrap">2.1.2 No keyboard trap</td>
    <td>A</td>
    <td>
        The intent of this Success Criterion is to ensure that content does not "trap" keyboard focus.
        If a user can move to a part of the page via the keyboard, the user must also be able to move away from it using only the keyboard.
        This is often an issue on pages that rely on plugins, such as Flash or Java applets, make sure the plugin can return keyboard focus.
        <br>
        <strong>It helps: Visually impaired, motor impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/no-keyboard-trap.html" target="_blank">WCAG: Understanding 2.1.2: No keyboard trap</a>
    </td>
    <td>
        Ensuring that users are not trapped in content. The user should be able to tab away from a widget, or close it (like for example a modal)
        with ESC or a button.
    </td>
</tr>
<tr>
    <td class="text-nowrap">2.1.3 Keyboard (no exception)</td>
    <td>AAA</td>
    <td>
        This is the same as Success Criterion 2.1.1, except that no exceptions are allowed.
        So, if an app prompts the user to do a hand drawing (path dependent), the app
        can not conform to this success criterion
        <br>
        <strong>It helps: Visually impaired, motor impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/keyboard-no-exception.html" target="_blank">WCAG: Understanding 2.1.3: Keyboard (no exception)</a>
    </td>
    <td>
        See 2.1.1.
    </td>
</tr>
<tr>
    <td class="text-nowrap table-info" aria-label="New in WCAG 2.1">2.1.4 Character key shortcuts</td>
    <td>A</td>
    <td>
        The intent of this Success Crition is to reduce accidental activation of keyboard shortcuts that are made up of only character keys (no modifier).
        This can happen to keyboard users and users that use speech recognition.
        <br>
        <strong>It helps: Visually impaired, motor impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/character-key-shortcuts.html" target="_blank">WCAG: Understanding 2.1.4: Character key shortcuts</a>
    </td>
    <td>
        If the site/app has single key shortcuts, let users turn them off or remap them.
        Note that this success criterion doesn't affect components such as listboxes and drop-down menus, that may be selected by one or more character keys, the shortcuts are only active when the components have focus.
        Accesskeys are also not affected because they include modifier keys.
    </td>
</tr>

<tr>
    <th scope="row" rowspan="7" class="text-nowrap">2.2 Enough Time</th>
</tr>
<tr>
    <td class="text-nowrap">2.2.1 Timing Adjustable</td>
    <td>A</td>
    <td>
        The intent of this Success Criterion is to ensure that users with disabilities are given adequate time to interact with Web content whenever possible.
        Any process that happens without user initiation after a set time or on a periodic basis is a time limit. This includes partial or full updates of content (for example, page refresh), 
        changes to content, or the expiration of a window of opportunity for a user to react to a request for input.
        Also animated, moving or scrolling content introduces a time limit on a users ability to read content.
        <br>
        <strong>It helps: Visually impaired, motor impaired, hearing impaired, cognitive impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/timing-adjustable.html" target="_blank">WCAG: Understanding 2.2.1: Timing Adjustable</a>
    </td>
    <td>
        User should be able to: turn off, adjust the length (10x default setting), request more time (20 seconds to do so, at least 10 times).
        Disabling time limits is better than customizing the length of time limits, which is better than requesting more time before a time limit occurs.
        There are exceptions, for example real time events like an auction. 20 hours+ time limit is also an exception.
    </td>
</tr>
<tr>
    <td class="text-nowrap">2.2.2 Pause, Stop, Hide</td>
    <td>A</td>
    <td>
        The intent of this Success Criterion is to avoid distracting users during their interaction with a Web page.
        Partial content that moves, blinks, flashes, scrolls or auto updates, like animations, weather information or stock tickers
        can be distracting for people with certain disabilties.
        <br>
        <strong>It helps: Visually impaired, cognitive impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/pause-stop-hide.html" target="_blank">WCAG: Understanding 2.2.2: Pause, Stop, Hide</a>
    </td>
    <td>
        Users should be able to pause, stop or hide partial content that is auto updating or moving, blinking or scrolling that lasts more than 5 seconds.
        An animation that occurs as part of a preload phase or similar situation can be considered an excempt if interaction cannot occur during that phase.
        Having an animation stop only so long as a user has focus on it (where it restarts as soon as the user moves the focus away) would not be considered a 
        "mechanism for the user to pause" because it makes the page unusable in the process and would not meet this SC.
    </td>
</tr>
<tr>
    <td class="text-nowrap">2.2.3 No Timing</td>
    <td>AAA</td>
    <td>
        The intent of this Success Criterion is to minimize the occurrence of content that requires timed interaction.
        <br>
        <strong>It helps: Visually impaired, motor impaired, hearing impaired, cognitive impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/no-timing.html" target="_blank">WCAG: Understanding 2.2.3: No Timing</a>
    </td>
    <td>
        Allow users to complete an activity without any time limit.
    </td>
</tr>
<tr>
    <td class="text-nowrap">2.2.4 Interruptions</td>
    <td>AAA</td>
    <td>
        The intent of this Success Criterion is to allow users to turn off updates from the author/server except in emergencies 
        (civil emergency alert messages or any other messages that warn of danger to health, safety, or property, including data loss, loss of connection, etcetera).
        This allows people with disabilities to focus on the content.
        <br>
        <strong>It helps: Cognitive impaired, visually impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/interruptions.html" target="_blank">WCAG: Understanding 2.2.4: Interruptions</a>
    </td>
    <td>
        Providing a mechanism to postpone any updating of content or providing a mechanism to request an update of the content instead of updating automatically.
        Or provide options for automatic notifications.
    </td>
</tr>
<tr>
    <td class="text-nowrap">2.2.5 Re-authenticating</td>
    <td>AAA</td>
    <td>
        For security reasons, many sites implement an authentication time limit after a certain period of inactivity. 
        These time limits may cause problems for persons with disabilities because it may take longer for them to complete the activity.
        <br>
        <strong>It helps: Cognitive impaired, motor impaired, visually impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/re-authenticating.html" target="_blank">WCAG: Understanding 2.2.5: Re-authenticating</a>
    </td>
    <td>
        Saving data so that it can be used after a user re-authenticates.
    </td>
</tr>
<tr>
    <td class="text-nowrap table-info" aria-label="New in WCAG 2.1">2.2.6 Timeouts</td>
    <td>AAA</td>
    <td>
        This Success Criterion works in tandem with Success Criterion 2.2.1 Timing Adjustable, but is specifically focused on notification of timeouts related to user inactivity.
        The use of timeouts can present barriers for users with disabilities, as these users may require more time to read content or to perform functions, such as completing an online form.
        This Success Criterion helps users by ensuring they are notified about timeouts related to inactivity.
        <br>
        <strong>It helps: Cognitive impaired, language related disabilities, motor impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/timeouts.html" target="_blank">WCAG: Understanding 2.2.6: Timeouts</a>
    </td>
    <td>
        Dont timeout the user for at least 20 hours, or store user data for more than 20 hours (is it really a timeout then?) or provide a warning of the timeout duration at the start of the process.
    </td>
</tr>

<tr>
    <th scope="row" rowspan="4" class="text-nowrap">2.3 Seizures and Physical Reactions</th>
</tr>
<tr>
    <td class="text-nowrap">2.3.1 Three Flashes or Below Threshold</td>
    <td>A</td>
    <td>
        Some users can experience seizures due to photosensitivity if content flashes at certain frequencies for more than a few flashes.
        People are even more sensitive to red flashing than to other colors.
        Blinking can be allowed for a short time as long as it stops (or can be stopped).
        Blinking usually does not occur at speeds of 3 per second or more, but it can. If blinking occurs faster than 3 per second, it would also be considered a flash.
        <br>
        <strong>It helps: Photosensitive epilepsy, photosensitive seizure disorders</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/three-flashes-or-below-threshold.html" target="_blank">WCAG: Understanding 2.3.1: Three Flashes or Below Threshold</a>
    </td>
    <td>
        Ensure that no component of the content flashes more than 3 times in any 1-second period. If it does keep the area small enough and evaluate the pattern / red flash thresholds.
    </td>
</tr>
<tr>
    <td class="text-nowrap">2.3.2 Three Flashes</td>
    <td>AAA</td>
    <td>
        The purpose of this Success Criterion is to further reduce the chance of seizures.
        <br>
        <strong>It helps: Photosensitive epilepsy, photosensitive seizure disorders</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/three-flashes.html" target="_blank">WCAG: Understanding 2.3.2: Three Flashes</a>
    </td>
    <td>
        Whereas Success Criterion 2.3.1 allows flashing if it is dim enough or has a small enough area, Success Criterion 2.3.2 does not allow flashing greater than 3 per second, 
        regardless of brightness or size. 
    </td>
</tr>
<tr>
    <td class="text-nowrap table-info" aria-label="New in WCAG 2.1">2.3.3 Animation from Interactions</td>
    <td>AAA</td>
    <td>
        "Animation from interactions" applies when a user’s interaction initiates non-essential animation. In contrast, 2.2.2 Pause, Stop, Hide applies when the web page initiates animation.
        The intent of this Success Criterion is to allow users to prevent animation from interaction from being displayed on Web pages.
        <br>
        <strong>It helps: Vestibular (inner ear) disorder</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/animation-from-interactions.html" target="_blank">WCAG: Understanding 2.3.3: Animation from Interactions</a>
    </td>
    <td>
        Avoid using unnecessary animation. Provide a control for users to turn off non-essential animations from user interaction. 
        Take advantage of the reduce motion feature in the user-agent or operating system, 'prefers-reduced-motion' CSS Media Query.
    </td>
</tr>

<tr>
    <th scope="row" rowspan="11" class="text-nowrap">2.4 Navigable</th>
</tr>
<tr>
    <td class="text-nowrap">2.4.1 Bypass blocks</td>
    <td>A</td>
    <td>
        The intent of this Success Criterion is to allow people who navigate sequentially through content more direct access to the primary content of the Web page,
        by skipping repeated blocks of content (like top navigation).
        <br>
        <strong>It helps: Visually impaired, motor impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/bypass-blocks.html" target="_blank">WCAG: Understanding 2.4.1: Bypass blocks</a>
    </td>
    <td>
        Use proper semantics and landmarks. Provide skip links.
    </td>
</tr>
<tr>
    <td class="text-nowrap">2.4.2 Page Titled</td>
    <td>A</td>
    <td>
        A descriptive title for each web page help users orient themselves on the web site.
        When titles appear in site maps or lists of search results, users can more quickly identify the content they need.
        User agents make the title of the page easily available to the user for identifying the page, by displaying it in the window or tab header.
        <br>
        <strong>It helps: Visually impaired, cognitive impaired, motor impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/page-titled.html" target="_blank">WCAG: Understanding 2.4.2: Page Titled</a>
    </td>
    <td>
        Use descriptive titles that make sense when read out of context. Having link text and titles that agree, or be very similar, is good practice.
        Although not required for conformance, it could be a good idea to include the site name and sub sections in the title.
    </td>
</tr>
<tr>
    <td class="text-nowrap">2.4.3 Focus Order</td>
    <td>A</td>
    <td>
        The intent of this Success Criterion is to ensure that when users navigate sequentially through content, they encounter information in an order that is consistent with the meaning of the content and can be operated from the keyboard.
        <br>
        <strong>It helps: Visually impaired, motor impaired, cognitive impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/focus-order.html" target="_blank">WCAG: Understanding 2.4.3: Focus Order</a>
    </td>
    <td>
        Use logical tab order (dont mess with tabindex 1,2,3). Develop accessible modals (see also 2.1.1).
        When the source order matches the visual order, everyone will read the content and interact with it in the same (correct) order.
        When using DOM scripting to insert content, insert the content immediately after the trigger control.
    </td>
</tr>
<tr>
    <td class="text-nowrap">2.4.4 Link Purpose (In Context)</td>
    <td>A</td>
    <td>
        The intent of this Success Criterion is to help users understand the purpose of each link.
        The purpose of each link should be determined from the link text alone or from the link text together with its programmatically determined link context.
        <br>
        <strong>It helps: Visually impaired, motor impaired, cognitive impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/link-purpose-in-context.html" target="_blank">WCAG: Understanding 2.4.4: Link Purpose (In Context)</a>
    </td>
    <td>
        The link text should describe the destination of the link. Make sure all links to the same destination use the same link text.
        Whenever possible, provide link text that identifies the purpose of the link without needing additional context.
        But in some situations the developer may want to provide part of the description of the link in logically related text that provides the context for the link,
        for example in a souranding p tag or td tag, aria-label or aria-labelledby can also be used (all of these are programmatically determined link context).
    </td>
</tr>
<tr>
    <td class="text-nowrap">2.4.5 Multiple Ways</td>
    <td>AA</td>
    <td>
        Different users may find one technique of navigation more usable than others, therefor provide different ways of locating a web page.
        <br>
        <strong>It helps: Visually impaired, cognitive impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/multiple-ways.html" target="_blank">WCAG: Understanding 2.4.5: Multiple Ways</a>
    </td>
    <td>
        Exception: where the Web Page is the result of, or a step in, a process.
        Consider: Providing a site map or table of contents.
        Consider providing search functionality.
        Consider providing links between pages as well as a main navigation.
    </td>
</tr>
<tr>
    <td class="text-nowrap">2.4.6 Headings and Labels</td>
    <td>AA</td>
    <td>
        This Success Criterion does not require headings or labels.
        This Success Criterion requires that if headings or labels are provided, they be descriptive.
        Descriptive headings are especially helpful for users who have disabilities that make reading slow and for people with limited short-term memory.
        When heading and label have proper semantic, screen reader users can have them read out as a list and jump to them.
        <br>
        <strong>It helps: Visually impaired, cognitive impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/headings-and-labels.html" target="_blank">WCAG: Understanding 2.4.6: Headings and Labels</a>
    </td>
    <td>
        Headings should describe the content of their section. Labels should describe the purpose of their associated control.
    </td>
</tr>
<tr>
    <td class="text-nowrap">2.4.7 Focus Visible</td>
    <td>AA</td>
    <td>
        The purpose of this success criterion is to help a person know which focusable element has the keyboard focus.
        <br>
        <strong>It helps: Visually impaired, motor impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/focus-visible.html" target="_blank">WCAG: Understanding 2.4.7: Focus Visible</a>
    </td>
    <td>
        An exception to this is if there is only one focusable element on the page.
        Either let the browser default focus indicator do its thing (dont override it) 
        or do override it with your own that match the design of the app/site (make it clear).
        A blinking cursor in an input field is a focus indicator on its own.
    </td>
</tr>
<tr>
    <td class="text-nowrap">2.4.8 Location</td>
    <td>AAA</td>
    <td>
        The intent of this Success Criterion is to provide a way for the user to orient herself within a set of Web pages, a Web site, or a Web application and find related information.
        <br>
        <strong>It helps: Cognitive impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/location.html" target="_blank">WCAG: Understanding 2.4.8: Location</a>
    </td>
    <td>
        Provide breadcrumbs, site map and for widgets, display whats active (for example an active tab in a set of tabs).
    </td>
</tr>
<tr>
    <td class="text-nowrap">2.4.9 Link Purpose (Link Only)</td>
    <td>AAA</td>
    <td>
        A more strict version of 2.4.4.
        Link purpose should be clear when taken out of context (like a link list presented by a screen reader)
        <br>
        <strong>It helps: Visually impaired, motor impaired, cognitive impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/link-purpose-link-only.html" target="_blank">WCAG: Understanding 2.4.9: Link Purpose (Link Only)</a>
    </td>
    <td>
        See 2.4.4, and also provide the link text that identifies the purpose of the link without needing additional context.
        aria-label can be sufficent as direct context ("in some assistive technologies the aria-label value will show in the list of links instead of the actual link text"),
        but it is better to write the text inside the a tag for meeting this success criteria.
    </td>
</tr>
<tr>
    <td class="text-nowrap">2.4.10 Section Headings</td>
    <td>AAA</td>
    <td>
        The intent of this Success Criterion is to provide headings for sections of a Web page, when the page is organized into sections.
        Section tag can stand on its own but can also be part (like a chapter) of an Article element (see HTML sectioning flowchart under resources).
        When such sections exist, they need to have headings that introduce them.
        This provision is included at Level AAA because it cannot be applied to all types of content and it may not always be possible to insert headings, 
        for example, when posting a pre-existing document to the Web.
        <br>
        <strong>It helps: Visually impaired, cognitive impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/section-headings.html" target="_blank">WCAG: Understanding 2.4.10: Section Headings</a>
    </td>
    <td>
        Provide headings for each section. NOTE: "Sufficient Techniques" does not exemplify the section element, the author just uses h tags and p tags.
    </td>
</tr>
<tr>
    <th scope="row" rowspan="7" class="text-nowrap">2.5 Input modalities</th>
</tr>
<tr>
    <td class="text-nowrap">2.5.1 Pointer Gestures</td>
    <td>A</td>
    <td>
        Authors must ensure that their content can be operated without multipoint or path-based gestures such as swiping, dragging, pinching, or drawing.
        Multipoint or path-based gestures can be used so long as the functionality can also be operated by another method, such as a tap, click, double tap, double click, long press, or click and hold.
        <br>
        <strong>It helps: Motor impaired, cognitive impairded</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/pointer-gestures.html" target="_blank">WCAG: Understanding 2.5.1: Pointer Gestures</a>
    </td>
    <td>
        Provide alternative ways of controlling an image gallery (swipe and buttons) or map (zoom with pinch and buttons) for example.
        If the gesture is considered essential (such as signing your name) its an exception.
    </td>
</tr>
<tr>
    <td class="text-nowrap">2.5.2 Pointer Cancellation</td>
    <td>A</td>
    <td>
        The intent of this success criterion is to make it easier for users to prevent accidental or erroneous pointer input.
        <br>
        <strong>It helps: Motor impaired, cognitive impairded</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/pointer-cancellation.html" target="_blank">WCAG: Understanding 2.5.2: Pointer Cancellation</a>
    </td>
    <td>
        Trigger functionality on the mouse up event, so users can cancel the click/touch by mowing the pointer/finger way from the target before releasing.
    </td>
</tr>
<tr>
    <td class="text-nowrap">2.5.3 Label in Name</td>
    <td>A</td>
    <td>
        For the purposes of this Success Criterion, "label" is simply referring to a text string in close visual proximity to a component.
        Avoid disconnect between the visible name (visible text in an element) and the programmatic name (like aria-label or alt text).
        For example, a text field has a [label] that says First name and an [aria-label] that says Your name, 
        in this case, a screen reader would be presented with "Your Name" when they navigate into the field, and nothing will happen if a Dragon user says "Click First Name."
        <br>
        <strong>It helps: Visually impaired, cognitive impaired, motor impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/label-in-name.html" target="_blank">WCAG: Understanding 2.5.3: Label in Name</a>
    </td>
    <td>
        If an element has both visual text and an accessible text, make sure that they communicate the same thing and the visual text is included in the accessible text.
        For example an image of an arrow with the word "Next" has an alt text with the word "Next" (and NOT for example continue).
    </td>
</tr>
<tr>
    <td class="text-nowrap">2.5.4 Motion Actuation</td>
    <td>A</td>
    <td>
        When device motion or user motion (e.g., shaking, tilting, or gestures picked up by the device’s camera) are used for interaction, an alternative input method 
        should be provided to perform an equivalent action unless the motion is essential for the function and doing so would invalidate the activity.
        <br>
        <strong>It helps: Motor impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/motion-actuation.html" target="_blank">WCAG: Understanding 2.5.4: Motion Actuation</a>
    </td>
    <td>
        Provide more conventional controls as a complement to motion controls.
        The focus here is intentional gesturing by the user. It is not about for example position registered by geolocation sensors, nor does it
        cover motion associated with operating a keyboard, pointer, or assistive technology
    </td>
</tr>
<tr>
    <td class="text-nowrap">2.5.5 Target Size</td>
    <td>AAA</td>
    <td>
        The intent of this success criteria is to ensure that target sizes are large enough for users to easily activate them, even if the user is accessing content on a small handheld touch screen device, 
        has limited dexterity, or has trouble activating small targets for other reasons. For instance, mice and similar pointing devices can be hard to use for these users, and a larger target will help them activate the target.
        <br>
        <strong>It helps: Visually impaired, motor impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/target-size.html" target="_blank">WCAG: Understanding 2.5.5: Target Size</a>
    </td>
    <td>
        Ensure that touch targets are at least 44 by 44 CSS pixels.
        A text link that is in a sentence or paragraph is excluded and does not need to meet the 44 by 44 CSS pixel requirement.
        Interfaces can still have controls smaller than 44 by 44. 
        But, in that case, there must be another control to perform the same operation that is at least 44 by 44 pixels (or another way to perform the action like scrolling instead of using an anchor link).
    </td>
</tr>
<tr>
    <td class="text-nowrap">2.5.6 Concurrent Input Mechanisms</td>
    <td>AAA</td>
    <td>
        The intent of this Success Criterion is to ensure that people can use and switch between different modes of input when interacting with web content. 
        <br>
        <strong>It helps: Cognitive impaired, Visually impaired, motor impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/concurrent-input-mechanisms.html" target="_blank">WCAG: Understanding 2.5.6: Concurrent Input Mechanisms</a>
    </td>
    <td>
        Content must not limit the user's interaction to any particular input mechanism unless the restriction is essential, or is required to ensure the security of the content or to respect user settings.
        <a href="https://www.w3.org/WAI/WCAG21/Techniques/failures/F98" target="_blank">Dont focus solely on JavaScript event listeners when a touchscreen is detected</a>
    </td>
</tr>

