<tr>
    <th scope="row" rowspan="34" class="text-nowrap">1 Perceivable</th>
</tr>

<tr>
    <th scope="row" rowspan="2" class="text-nowrap">1.1 Text Alternatives</th>
</tr>
<tr>
    <td class="text-nowrap">1.1.1 Non-text Content</td>
    <td>A</td>
    <td>
        Make information conveyed by non-text content accessible through the use of a text
        alternative.
        Text can be read visually, read out loud by assistive technology or be converted to
        braile.<br>
        <strong>It helps: Visually impaired, hearing impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/non-text-content.html" target="_blank">WCAG: Understanding
            1.1.1: Non-text Content</a>
    </td>
    <td>
        Short text alternative, Long text alternative,
        Alternatives for controls & inputs,
        Alternatives for time-based media, exams, or specific sensory experiences,
        CAPTCHA,
        Decorations or elements meant to be ignored by AT
    </td>
</tr>

<tr>
    <th scope="row" rowspan="10" class="text-nowrap">1.2 Time-based Media</th>
</tr>
<tr>
    <td class="text-nowrap">1.2.1 Audio-only and Video-only (Prerecorded)</td>
    <td>A</td>
    <td>
        Make information conveyed by non-text content accessible through the use of a text
        alternative.
        Text can be read visually, read out loud by assistive technology or be converted to
        braile.
        For prerecorded video content, authors have the option to provide an audio track.<br>
        <strong>It helps: Visually impaired, hearing impaired, cognitive impaired(?)</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/audio-only-and-video-only-prerecorded.html"
            target="_blank">
            WCAG: Understanding 1.2.1: Audio-only and Video-only (Prerecorded)
        </a>
    </td>
    <td>
        Long text alternative (text transcript),
        or provide a link to an audio version of the video-only presentation
    </td>
</tr>
<tr>
    <td class="text-nowrap">1.2.2 Captions (Prerecorded)</td>
    <td>A</td>
    <td>
        The intent of this Success Criterion is to enable people who are deaf or hard of hearing to
        watch audio and video presentations.
        Captions are similar to dialogue-only subtitles except captions convey not only the content
        of spoken dialogue,
        but also equivalents for non-dialogue audio information needed to understand the program
        content, including
        sound effects, music, laughter, speaker identification and location.<br>
        <strong>It helps: hearing impaired, cognitive impaired(?)</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/captions-prerecorded.html" target="_blank">WCAG:
            Understanding 1.2.2: Captions (Prerecorded)</a>
    </td>
    <td>
        If you provide a video with sound, provide captions. The captions should include both speech
        and any other sounds that provide significant information.
    </td>
</tr>
<tr>
    <td class="text-nowrap">1.2.3 Audio Description or Media Alternative (Prerecorded)</td>
    <td>A</td>
    <td>
        People who are blind or visually impaired should be able to access the visual information on
        audio and video presentation.<br>
        <strong>It helps: Visually impaired, cognitive impaired(?)</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/audio-description-or-media-alternative-prerecorded.html"
            target="_blank">WCAG: Understanding 1.2.3: Audio Description or Media Alternative
            (Prerecorded)</a>
    </td>
    <td>
        Long text alternative (text transcript),
        or a supplemental audio track, with audible explanation of what's happening on screen,
        placed during existing pauses in dialog
    </td>
</tr>
<tr>
    <td class="text-nowrap">1.2.4 Captions (Live)</td>
    <td>AA</td>
    <td>
        People who are deaf or hard of hearing are enabled to watch real-time presentations
        if captions provide the part of the content available via the audio track.<br>
        <strong>It helps: hearing impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/captions-live.html" target="_blank">WCAG: Understanding
            1.2.4: Captions (Live)</a>
    </td>
    <td>
        Provide captioning for live media. Captions should include both dialogue and important
        sounds.
    </td>
</tr>
<tr>
    <td class="text-nowrap">1.2.5 Audio Description (Prerecorded)</td>
    <td>AA</td>
    <td>
        The audio description augments the audio portion of the media presentation.
        People who are blind or have low vision as well as those with cognitive limitations who have
        difficulty interpreting visually what is happening will benefit.<br>
        <strong>It helps: Visually impaired, cognitive impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/audio-description-prerecorded.html" target="_blank">WCAG:
            Understanding 1.2.5: Audio Description (Prerecorded)</a>
    </td>
    <td>
        Provide an additional audio track for prerecorded video content describing what is happening
        on-screen.
    </td>
</tr>
<tr>
    <td class="text-nowrap">1.2.6 Sign Language (Prerecorded)</td>
    <td>AAA</td>
    <td>
        Written text, such as that found in captions, is often a second language to people who are
        deaf or hard of hearing.
        This AAA success criteria promotes the use of sign language translation of audio.<br>
        <strong>It helps: hearing impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/sign-language-prerecorded.html" target="_blank">WCAG:
            Understanding 1.2.6: Sign Language (Prerecorded)</a>
    </td>
    <td>
        Including a sign language interpreter in the video stream and make sure the interpreter is
        clearly visible.
    </td>
</tr>
<tr>
    <td class="text-nowrap">1.2.7 Extended Audio Description (Prerecorded)</td>
    <td>AAA</td>
    <td>
        This AAA criteria takes into considaration that sometimes audio description is not enough,
        it needs to be extended.<br>
        <strong>It helps: Visually impaired, cognitive impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/extended-audio-description-prerecorded.html"
            target="_blank">WCAG: Understanding 1.2.7: Extended Audio Description (Prerecorded)</a>
    </td>
    <td>
        The media is paused between scenarios/problems and the extended audio description plays.
    </td>
</tr>
<tr>
    <td class="text-nowrap">1.2.8 Media Alternative (Prerecorded)</td>
    <td>AAA</td>
    <td>
        This AAA critera focuses on those whose vision is too poor to reliably read captions and
        whose hearing is too poor to reliably hear dialogue and audio description.
        The alternative for time-based media reads something like a book.<br>
        <strong>It helps: Visually impaired, hearing impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/media-alternative-prerecorded.html" target="_blank">WCAG:
            Understanding 1.2.8: Media Alternative (Prerecorded)</a>
    </td>
    <td>
        Long text alternative
    </td>
</tr>
<tr>
    <td class="text-nowrap">1.2.9 Audio-only (Live)</td>
    <td>AAA</td>
    <td>
        A live text caption service will enable live audio to be accessible to people who are deaf
        or hard of hearing, or who cannot otherwise hear the audio.
        Such services use a trained human operator who listens in to what is being said and uses a
        special keyboard to enter the text with only a small delay.<br>
        <strong>It helps: hearing impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/audio-only-live.html" target="_blank">WCAG: Understanding
            1.2.9: Audio-only (Live)</a>
    </td>
    <td>
        Long text alternative with a text transcript of a prepared statement or script if the script
        is followed or
        use a real-time caption service
    </td>
</tr>

<tr>
    <th scope="row" rowspan="7" class="text-nowrap">1.3 Adaptable</th>
</tr>
<tr>
    <td class="text-nowrap">1.3.1 Info and Relationships</td>
    <td>A</td>
    <td>
        By using correct semantic HTML, information is conveyed to all users.
        <br>
        <strong>It helps: visually impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/info-and-relationships.html" target="_blank">WCAG:
            Understanding 1.3.1: Info and Relationships</a>
    </td>
    <td>
        Semantic structure, color + text for form validation, ARIA
    </td>
</tr>
<tr>
    <td class="text-nowrap">1.3.2 Meaningful Sequence</td>
    <td>A</td>
    <td>
        Strive to use the same DOM order as the visual order.
        A user with low vision who uses a screen magnifier in combination with a screen reader may
        be confused when the reading order appears to skip around on the screen.
        A keyboard user may have trouble predicting where focus will go next when the source order
        does not match the visual order.
        <br>
        <strong>It helps: visually impaired, motor impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/meaningful-sequence.html" target="_blank">WCAG:
            Understanding 1.3.2: Meaningful Sequence</a>
    </td>
    <td>
        DOM order == visual order, ordered lists vs unordered lists
    </td>
</tr>
<tr>
    <td class="text-nowrap">1.3.3 Sensory Characteristics</td>
    <td>A</td>
    <td>
        The intent of this Success Criterion is to ensure that all users can access instructions for using the content,
        even when they cannot perceive shape or size or use information about spatial location or orientation
        <br>
        <strong>It helps: visually impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/sensory-characteristics.html" target="_blank">WCAG:
            Understanding 1.3.3: Sensory Characteristics</a>
    </td>
    <td>
        Avoid copy like "Read more in the right column", instead refer to a header.
        Avoid for example an arrow icon without complementary text.
    </td>
</tr>
<tr>
    <td class="text-nowrap table-info" aria-label="New in WCAG 2.1">
        1.3.4 Orientation
    </td>
    <td>AA</td>
    <td>
        Dont fix the design to one screen orientation, some users have their devices mounted in a fixed orientation (e.g. on the arm of a power wheelchair).
        An exception is if the content can only be understood or used in one screen orientation (for example a piano app).
        <br>
        <strong>It helps: motor impaired, visually impaired</strong>
        <br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/orientation.html" target="_blank">WCAG:
            Understanding 1.3.4: Orientation</a>
    </td>
    <td>
        Allow landscape and portrait
    </td>
</tr>
<tr>
    <td class="text-nowrap table-info" aria-label="New in WCAG 2.1">
        1.3.5 Identify Input Purpose
    </td>
    <td>AA</td>
    <td>
        For some input fields, the type attribute already offers a way to broadly specify the intention of the input field, for example, input type="tel".
        The HTML autocomplete attribute takes this one step further, only accepting a certain number of specific well-defined fixed values.
        This allows a more fine-grained definition or identification of purpose than the type attribute.
        <br>
        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/autocomplete" target="_blank">MDN: The HTML autocomplete attribute</a>
        <br>
        <strong>It helps: cognitive impaired, motor impairments</strong>
        <br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/orientation.html" target="_blank">
        WCAG: Understanding 1.3.5: Identify Input Purpose</a>
    </td>
    <td>
        Use HTML 5 input types with autocomplete
    </td>
</tr>
<tr>
    <td class="text-nowrap table-info" aria-label="New in WCAG 2.1">
        1.3.6 Identify Purpose
    </td>
    <td>AAA</td>
    <td>
        Identifying regions of the page allows people to remove or highlight regions with their user agent.
        <br>
        <strong>It helps: cognitive impaired, visually impaired</strong>
        <br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/identify-purpose.html" target="_blank">WCAG: Understanding 1.3.6: Identify Purpose</a>
    </td>
    <td>
        Use aria landmarks.<br>
        Developers should always prefer using the correct semantic HTML element over using ARIA (for example the main element already has a role of main).
    </td>
</tr>

<tr>
    <th scope="row" rowspan="14" class="text-nowrap">1.4 Distinguishable</th>
</tr>
<tr>
    <td class="text-nowrap">1.4.1 Use of Color</td>
</tr>
<tr>
    <td class="text-nowrap">1.4.2 Audio Control</td>
</tr>
<tr>
    <td class="text-nowrap">1.4.3 Contrast (Minimum)</td>
</tr>
<tr>
    <td class="text-nowrap">1.4.4 Resize text</td>
</tr>
<tr>
    <td class="text-nowrap">1.4.5 Images of Text</td>
</tr>
<tr>
    <td class="text-nowrap">1.4.6 Contrast (Enhanced)</td>
</tr>
<tr>
    <td class="text-nowrap">1.4.7 Low or No Background Audio</td>
</tr>
<tr>
    <td class="text-nowrap">1.4.8 Visual Presentation</td>
</tr>
<tr>
    <td class="text-nowrap">1.4.9 Images of Text (No Exception)</td>
</tr>
<tr>
    <td class="text-nowrap table-info" aria-label="New in WCAG 2.1">1.4.10 Reflow</td>
</tr>
<tr>
    <td class="text-nowrap table-info" aria-label="New in WCAG 2.1">1.4.11 Non-text
        Contrast</td>
</tr>
<tr>
    <td class="text-nowrap table-info" aria-label="New in WCAG 2.1">1.4.12 Text Spacing
    </td>
</tr>
<tr>
    <td class="text-nowrap table-info" aria-label="New in WCAG 2.1">1.4.13 Content on
        Hover or Focus</td>
</tr>
