<tr>
    <th scope="row" rowspan="34" class="text-nowrap">1 Perceivable</th>
</tr>

<tr>
    <th scope="row" rowspan="2" class="text-nowrap">1.1 Text Alternatives</th>
</tr>
<tr>
    <td class="text-nowrap">1.1.1 Non-text Content</td>
    <td>A</td>
    <td>
        Make information conveyed by non-text content accessible through the use of a text
        alternative.
        Text can be read visually, read out loud by assistive technology or be converted to
        braile.<br>
        <strong>It helps: Visually impaired, hearing impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/non-text-content.html" target="_blank">WCAG: Understanding
            1.1.1: Non-text Content</a>
    </td>
    <td>
        Short text alternative, Long text alternative,
        Alternatives for controls & inputs,
        Alternatives for time-based media, exams, or specific sensory experiences,
        CAPTCHA,
        Decorations or elements meant to be ignored by AT
    </td>
</tr>

<tr>
    <th scope="row" rowspan="10" class="text-nowrap">1.2 Time-based Media</th>
</tr>
<tr>
    <td class="text-nowrap">1.2.1 Audio-only and Video-only (Prerecorded)</td>
    <td>A</td>
    <td>
        Make information conveyed by non-text content accessible through the use of a text
        alternative.
        Text can be read visually, read out loud by assistive technology or be converted to
        braile.
        For prerecorded video content, authors have the option to provide an audio track.<br>
        <strong>It helps: Visually impaired, hearing impaired, cognitive impaired(?)</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/audio-only-and-video-only-prerecorded.html"
            target="_blank">
            WCAG: Understanding 1.2.1: Audio-only and Video-only (Prerecorded)
        </a>
    </td>
    <td>
        Long text alternative (text transcript),
        or provide a link to an audio version of the video-only presentation
    </td>
</tr>
<tr>
    <td class="text-nowrap">1.2.2 Captions (Prerecorded)</td>
    <td>A</td>
    <td>
        The intent of this Success Criterion is to enable people who are deaf or hard of hearing to
        watch audio and video presentations.
        Captions are similar to dialogue-only subtitles except captions convey not only the content
        of spoken dialogue,
        but also equivalents for non-dialogue audio information needed to understand the program
        content, including
        sound effects, music, laughter, speaker identification and location.<br>
        <strong>It helps: hearing impaired, cognitive impaired(?)</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/captions-prerecorded.html" target="_blank">WCAG:
            Understanding 1.2.2: Captions (Prerecorded)</a>
    </td>
    <td>
        If you provide a video with sound, provide captions. The captions should include both speech
        and any other sounds that provide significant information.
    </td>
</tr>
<tr>
    <td class="text-nowrap">1.2.3 Audio Description or Media Alternative (Prerecorded)</td>
    <td>A</td>
    <td>
        People who are blind or visually impaired should be able to access the visual information on
        audio and video presentation.<br>
        <strong>It helps: Visually impaired, cognitive impaired(?)</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/audio-description-or-media-alternative-prerecorded.html"
            target="_blank">WCAG: Understanding 1.2.3: Audio Description or Media Alternative
            (Prerecorded)</a>
    </td>
    <td>
        Long text alternative (text transcript),
        or a supplemental audio track, with audible explanation of what's happening on screen,
        placed during existing pauses in dialog
    </td>
</tr>
<tr>
    <td class="text-nowrap">1.2.4 Captions (Live)</td>
    <td>AA</td>
    <td>
        People who are deaf or hard of hearing are enabled to watch real-time presentations
        if captions provide the part of the content available via the audio track.<br>
        <strong>It helps: hearing impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/captions-live.html" target="_blank">WCAG: Understanding
            1.2.4: Captions (Live)</a>
    </td>
    <td>
        Provide captioning for live media. Captions should include both dialogue and important
        sounds.
    </td>
</tr>
<tr>
    <td class="text-nowrap">1.2.5 Audio Description (Prerecorded)</td>
    <td>AA</td>
    <td>
        The audio description augments the audio portion of the media presentation.
        People who are blind or have low vision as well as those with cognitive limitations who have
        difficulty interpreting visually what is happening will benefit.<br>
        <strong>It helps: Visually impaired, cognitive impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/audio-description-prerecorded.html" target="_blank">WCAG:
            Understanding 1.2.5: Audio Description (Prerecorded)</a>
    </td>
    <td>
        Provide an additional audio track for prerecorded video content describing what is happening
        on-screen.
    </td>
</tr>
<tr>
    <td class="text-nowrap">1.2.6 Sign Language (Prerecorded)</td>
    <td>AAA</td>
    <td>
        Written text, such as that found in captions, is often a second language to people who are
        deaf or hard of hearing.
        This AAA success criteria promotes the use of sign language translation of audio.<br>
        <strong>It helps: hearing impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/sign-language-prerecorded.html" target="_blank">WCAG:
            Understanding 1.2.6: Sign Language (Prerecorded)</a>
    </td>
    <td>
        Including a sign language interpreter in the video stream and make sure the interpreter is
        clearly visible.
    </td>
</tr>
<tr>
    <td class="text-nowrap">1.2.7 Extended Audio Description (Prerecorded)</td>
    <td>AAA</td>
    <td>
        This AAA criteria takes into considaration that sometimes audio description is not enough,
        it needs to be extended.<br>
        <strong>It helps: Visually impaired, cognitive impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/extended-audio-description-prerecorded.html"
            target="_blank">WCAG: Understanding 1.2.7: Extended Audio Description (Prerecorded)</a>
    </td>
    <td>
        The media is paused between scenarios/problems and the extended audio description plays.
    </td>
</tr>
<tr>
    <td class="text-nowrap">1.2.8 Media Alternative (Prerecorded)</td>
    <td>AAA</td>
    <td>
        This AAA critera focuses on those whose vision is too poor to reliably read captions and
        whose hearing is too poor to reliably hear dialogue and audio description.
        The alternative for time-based media reads something like a book.<br>
        <strong>It helps: Visually impaired, hearing impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/media-alternative-prerecorded.html" target="_blank">WCAG:
            Understanding 1.2.8: Media Alternative (Prerecorded)</a>
    </td>
    <td>
        Long text alternative
    </td>
</tr>
<tr>
    <td class="text-nowrap">1.2.9 Audio-only (Live)</td>
    <td>AAA</td>
    <td>
        A live text caption service will enable live audio to be accessible to people who are deaf
        or hard of hearing, or who cannot otherwise hear the audio.
        Such services use a trained human operator who listens in to what is being said and uses a
        special keyboard to enter the text with only a small delay.<br>
        <strong>It helps: hearing impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/audio-only-live.html" target="_blank">WCAG: Understanding
            1.2.9: Audio-only (Live)</a>
    </td>
    <td>
        Long text alternative with a text transcript of a prepared statement or script if the script
        is followed or
        use a real-time caption service
    </td>
</tr>

<tr>
    <th scope="row" rowspan="7" class="text-nowrap">1.3 Adaptable</th>
</tr>
<tr>
    <td class="text-nowrap">1.3.1 Info and Relationships</td>
    <td>A</td>
    <td>
        By using correct semantic HTML, information is conveyed to all users.
        <br>
        <strong>It helps: visually impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/info-and-relationships.html" target="_blank">WCAG:
            Understanding 1.3.1: Info and Relationships</a>
    </td>
    <td>
        Semantic structure, color + text for form validation, ARIA
    </td>
</tr>
<tr>
    <td class="text-nowrap">1.3.2 Meaningful Sequence</td>
    <td>A</td>
    <td>
        Strive to use the same DOM order as the visual order.
        A user with low vision who uses a screen magnifier in combination with a screen reader may
        be confused when the reading order appears to skip around on the screen.
        A keyboard user may have trouble predicting where focus will go next when the source order
        does not match the visual order.
        <br>
        <strong>It helps: visually impaired, motor impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/meaningful-sequence.html" target="_blank">WCAG:
            Understanding 1.3.2: Meaningful Sequence</a>
    </td>
    <td>
        DOM order == visual order, ordered lists vs unordered lists
    </td>
</tr>
<tr>
    <td class="text-nowrap">1.3.3 Sensory Characteristics</td>
    <td>A</td>
    <td>
        The intent of this Success Criterion is to ensure that all users can access instructions for using the content,
        even when they cannot perceive shape or size or use information about spatial location or orientation
        <br>
        <strong>It helps: visually impaired</strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/sensory-characteristics.html" target="_blank">WCAG:
            Understanding 1.3.3: Sensory Characteristics</a>
    </td>
    <td>
        Avoid copy like "Read more in the right column", instead refer to a header.
        Avoid for example an arrow icon without complementary text.
    </td>
</tr>
<tr>
    <td class="text-nowrap table-info" aria-label="New in WCAG 2.1">
        1.3.4 Orientation
    </td>
    <td>AA</td>
    <td>
        Dont fix the design to one screen orientation, some users have their devices mounted in a fixed orientation (e.g. on the arm of a power wheelchair).
        An exception is if the content can only be understood or used in one screen orientation (for example a piano app).
        <br>
        <strong>It helps: motor impaired, visually impaired</strong>
        <br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/orientation.html" target="_blank">WCAG:
            Understanding 1.3.4: Orientation</a>
    </td>
    <td>
        Allow landscape and portrait
    </td>
</tr>
<tr>
    <td class="text-nowrap table-info" aria-label="New in WCAG 2.1">
        1.3.5 Identify Input Purpose
    </td>
    <td>AA</td>
    <td>
        For some input fields, the type attribute already offers a way to broadly specify the intention of the input field, for example, input type="tel".
        The HTML autocomplete attribute takes this one step further, only accepting a certain number of specific well-defined fixed values.
        This allows a more fine-grained definition or identification of purpose than the type attribute.
        <br>
        <strong>It helps: cognitive impaired, motor impairments</strong>
        <br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/orientation.html" target="_blank">
        WCAG: Understanding 1.3.5: Identify Input Purpose</a>
    </td>
    <td>
        Use HTML 5 input types with autocomplete
    </td>
</tr>
<tr>
    <td class="text-nowrap table-info" aria-label="New in WCAG 2.1">
        1.3.6 Identify Purpose
    </td>
    <td>AAA</td>
    <td>
        Identifying regions of the page allows people to remove or highlight regions with their user agent.
        <br>
        <strong>It helps: cognitive impaired, visually impaired</strong>
        <br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/identify-purpose.html" target="_blank">WCAG: Understanding 1.3.6: Identify Purpose</a>
    </td>
    <td>
        Use aria landmarks.<br>
        Developers should always prefer using the correct semantic HTML element over using ARIA (for example the main element already has a role of main).
    </td>
</tr>

<tr>
    <th scope="row" rowspan="14" class="text-nowrap">1.4 Distinguishable</th>
</tr>
<tr>
    <td class="text-nowrap">1.4.1 Use of Color</td>
    <td>A</td>
    <td>
        Color is an important part of design, however, some users have difficulty perceiving color.
        The intent of this Success Criterion is to ensure that all users can access information that is conveyed by color differences.
        <br>
        <strong>It helps: visually impaired</strong>
        <br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/use-of-color.html" target="_blank">WCAG: Understanding 1.4.1: Use of Color</a>
    </td>
    <td>
        Ensure that information conveyed by color is also available in text, for example form validation (dont just mark invalid fields with a red border) (remember programmatically set aria-invalid as well).
        Underline links or use a contrast ratio of 3:1.
    </td>
</tr>
<tr>
    <td class="text-nowrap">1.4.2 Audio Control</td>
    <td>A</td>
    <td>
        Individuals who use screen reading software can find it hard to hear the speech output if there is other audio playing at the same time.
        <br>
        <strong>It helps: Visually impaired</strong>
        <br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/audio-control.html" target="_blank">WCAG: Understanding 1.4.2: Audio Control</a>
    </td>
    <td>
        Play sound for only 3 seconds. If longer, provide a way to stop it, or reduce the volyme to zero.
    </td>
</tr>
<tr>
    <td class="text-nowrap">1.4.3 Contrast (Minimum)</td>
    <td>AA</td>
    <td>
        The intent of this Success Criterion is to provide enough contrast between text and its background so that it can be read by people with moderately low vision (who do not use contrast-enhancing assistive technology).
        The contrast requirement for larger text is therefore lower.
        <br>
        <strong>It helps: Visually impaired</strong>
        <br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/contrast-minimum.html" target="_blank">WCAG: Understanding 1.4.3: Contrast (Minimum)</a>
    </td>
    <td>
        Text is less than 18 point if not bold and less than 14 point if bold = contrast ratio 4.5:1<br>
        Text is at least 18 point if not bold and at least 14 point if bold = contrast ratio 3:1<br>
        See tools.<br>
        Also remember including placeholder text.
        Text that is decorative and conveys no information is excluded, as are logos and disabled components.
    </td>
</tr>
<tr>
    <td class="text-nowrap">1.4.4 Resize text</td>
    <td>AA</td>
    <td>
        The intent of this Success Criterion is to ensure that visually rendered text, including text-based controls,
        can be scaled successfully so that it can be read directly by people with mild visual disabilities
        <br>
        <strong>It helps: Visually impaired</strong>
        <br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/resize-text.html" target="_blank">WCAG: Understanding 1.4.4: Resize text</a>
    </td>
    <td>
        User should be able to zoom up to 200% without clipping, truncating or obscured content.
        Also use relative sizes like rem and percent, so user can change text size without zooming in images.
    </td>
</tr>
<tr>
    <td class="text-nowrap">1.4.5 Images of Text</td>
    <td>AA</td>
    <td>
        If an author can use text to achieve the same visual effect, he or she should present the information as text rather than using an image.
        It helps people with low vision, so they can enlarge it or have it read by a screen reader. People with cognitive disabilities that affect reading are also helped.
        <br>
        <strong>It helps: Visually impaired, cognitive impaired</strong>
        <br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/images-of-text.html" target="_blank">WCAG: Understanding 1.4.5: Images of Text</a>
    </td>
    <td>
        Prefer text and CSS over images of text. Logos (and charts, screenshots) are an exception.
    </td>
</tr>
<tr>
    <td class="text-nowrap">1.4.6 Contrast (Enhanced)</td>
    <td>AAA</td>
    <td>
        Text is less than 18 point if not bold and less than 14 point if bold = contrast ratio 7:1<br>
        Text is at least 18 point if not bold and at least 14 point if bold = contrast ratio 4.5:1<br>
        See tools
        <br>
        <strong>It helps: Visually impaired</strong>
        <br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/contrast-enhanced.html" target="_blank">WCAG: Understanding 1.4.6: Contrast (Enhanced)</a>
    </td>
    <td>
        Text that is decorative and conveys no information is excluded, as are logos and disabled components.        
    </td>
</tr>
<tr>
    <td class="text-nowrap">1.4.7 Low or No Background Audio</td>
    <td>AAA</td>
    <td>
        The intent of this Success Criterion is to ensure that any non-speech sounds are low enough that a user who is hard of hearing can separate the speech from background sounds.
        <br>
        <strong>It helps: Hearing impaired</strong>
        <br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/low-or-no-background-audio.html" target="_blank">WCAG: Understanding 1.4.7: Low or No Background Audio</a>
    </td>
    <td>
        Mixing audio files so that non-speech sounds are at least 20 decibels lower than the speech audio content
    </td>
</tr>
<tr>
    <td class="text-nowrap">1.4.8 Visual Presentation</td>
    <td>AAA</td>
    <td>
        The intent of this AAA Success Criterion is to ensure that visually rendered text is presented in such a manner that it can be perceived without its layout interfering with its readability.
        <br>
        <strong>It helps: Visually impaired, cognitive impaired</strong>
        <br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/visual-presentation.html" target="_blank">WCAG: Understanding 1.4.8: Visual Presentation</a>
    </td>
    <td>
        Foreground and background colors can be selected by the user.
        Text blocks width is no more than 80 characters. Text is not justified.
        Line height 1.5 and spacing between paragraphs is at least 1.5 larger than line height.
        Text can be resized without assistive technology up to 200 percent in a way that does not require the user to scroll horizontally to read a line of text.
    </td>
</tr>
<tr>
    <td class="text-nowrap">1.4.9 Images of Text (No Exception)</td>
    <td>AAA</td>
    <td>
        Images of text are only used for pure decoration or where a particular presentation of text is essential to the information being conveyed.
        <br>
        <strong>It helps: Visually impaired, cognitive impaired</strong>
        <br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/images-of-text-no-exception.html" target="_blank">WCAG: Understanding 1.4.9: Images of Text (No Exception)</a>
    </td>
    <td>
        Use text and CSS over images of text. Logos (and charts, screenshots) are an exception.
    </td>
</tr>
<tr>
    <td class="text-nowrap table-info" aria-label="New in WCAG 2.1">1.4.10 Reflow</td>
    <td>AA</td>
    <td>
        The intent of this Success Criterion is to support people with low vision who need to enlarge text and read it in a single column.
        Avoid scrolling in 2 dimensions: <br>
        Vertical scrolling content at a width equivalent to 320 CSS pixels (or browser window set to a width of 1280px and zoomed in to 400%), <br>
        Horizontal scrolling content at a height equivalent to 256 CSS pixels <br>
        <br>
        <strong>It helps: Visually impaired, cognitive impaired</strong>
        <br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/reflow.html" target="_blank">WCAG: Understanding 1.4.10: Reflow</a>
    </td>
    <td>
        Make the site responsive. Data tables, some images and maps could be an exception.
    </td>
</tr>
<tr>
    <td class="text-nowrap table-info" aria-label="New in WCAG 2.1">1.4.11 Non-text Contrast</td>
    <td>AA</td>
    <td>
        The intent of this Success Criterion is to ensure that active user interface components (and state like selected and focus indicator) and meaningful graphics are distinguishable by people with moderately low vision.
        Active user interface component must have a minimum 3:1 contrast ratio with the adjacent colors.
        <br>
        <strong>It helps: Visually impaired</strong>
        <br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/non-text-contrast.html" target="_blank">WCAG: Understanding 1.4.11: Non-text Contrast</a>
    </td>
    <td>
        See tools. Disabled components are an exception.
    </td>
</tr>
<tr>
    <td class="text-nowrap table-info" aria-label="New in WCAG 2.1">1.4.12 Text Spacing</td>
    <td>AA</td>
    <td>
        The developer should not hinder the end user changing the typography, and if user changes the typography to any of these bullet points the content should still be perceivable (no cut offs nor overlaps).
        Also the bullet points are a good baseline for developers to use themselves.
        <ul>
            <li>Line height to at least 1.5 times the font size</li>
            <li>Spacing following paragraphs to at least 2 times the font size</li>
            <li>Letter spacing (tracking) to at least 0.12 times the font size</li>
            <li>Word spacing to at least 0.16 times the font size</li>
        </ul>
        <strong>It helps: Visually impaired, cognitive impaired</strong>
        <br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/text-spacing.html" target="_blank">WCAG: Understanding 1.4.12: Text Spacing</a>
    </td>
    <td>
        See tools.
    </td>
</tr>
<tr>
    <td class="text-nowrap table-info" aria-label="New in WCAG 2.1">1.4.13 Content on Hover or Focus</td>
    <td>AA</td>
    <td>
        Content that apperars on hover and focus must be perceivable and dismissable.
        <br>
        <strong>It helps: Visually impaired, cognitive impaired, motor impaired</strong>
        <br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/content-on-hover-or-focus.html" target="_blank">WCAG: Understanding 1.4.13: Content on Hover or Focus</a>
    </td>
    <td>
        Close custom tooltips on ESC.
        Allow user to hover out on hover trigger without removing the triggered content.
        The triggered content should persist until user hovers out on the triggered content or closes it (status messages that changes are excempt, like a "busy" message thats no longer valid).
        HTML title are excempt. Content which can be triggered via pointer hover should also be able to be triggered by keyboard focus. Use role=tooltip.
    </td>
</tr>
