<tr>
    <th scope="row" rowspan="5" class="text-nowrap">4 Robust</th>
</tr>

<tr>
    <th scope="row" rowspan="4" class="text-nowrap">4.1 Compatible</th>
</tr>
<tr>
    <td class="text-nowrap">4.1.1 Parsing</td>
    <td>A</td>
    <td>
        
        <br>
        <strong>It helps: </strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/parsing.html" target="_blank">
            WCAG: Understanding 4.1.1: Parsing
        </a>
    </td>
    <td>
        
    </td>
</tr>
<tr>
    <td class="text-nowrap">4.1.2 Name, Role, Value</td>
    <td>A</td>
    <td>
        
        <br>
        <strong>It helps: </strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/name-role-value.html" target="_blank">
            WCAG: Understanding 4.1.2: Name, Role, Value
        </a>
    </td>
    <td>
        
    </td>
</tr>
<tr>
    <td class="text-nowrap table-info" aria-label="4.1.3 Status Messages, New in WCAG 2.1">4.1.3 Status Messages</td>
    <td>AA</td>
    <td>
        
        <br>
        <strong>It helps: </strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/status-messages.html" target="_blank">
            WCAG: Understanding 4.1.3: Status Messages
        </a>
    </td>
    <td>
        
    </td>
</tr>
