<tr>
    <th scope="row" rowspan="21" class="text-nowrap">3 Understandable</th>
</tr>

<tr>
    <th scope="row" rowspan="7" class="text-nowrap">3.1 Readable</th>
</tr>
<tr>
    <td class="text-nowrap">3.1.1 Language of Page</td>
    <td>A</td>
    <td>
        <br>
        <strong>It helps: </strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/language-of-page.html" target="_blank">
            WCAG: Understanding 3.1.1: Language of Page
        </a>
    </td>
    <td>
        
    </td>
</tr>
<tr>
    <td class="text-nowrap">3.1.2 Language of Parts</td>
    <td>AA</td>
    <td>
        <br>
        <strong>It helps: </strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/language-of-parts.html" target="_blank">
            WCAG: Understanding 3.1.2: Language of Parts
        </a>
    </td>
    <td>
        
    </td>
</tr>
<tr>
    <td class="text-nowrap">3.1.3 Unusual Words</td>
    <td>AAA</td>
    <td>
        <br>
        <strong>It helps: </strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/unusual-words.html" target="_blank">
            WCAG: Understanding 3.1.3: Unusual Words
        </a>
    </td>
    <td>
        
    </td>
</tr>
<tr>
    <td class="text-nowrap">3.1.4 Abbreviations</td>
    <td>AAA</td>
    <td>
        <br>
        <strong>It helps: </strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/abbreviations.html" target="_blank">
            WCAG: Understanding 3.1.4: Abbreviations
        </a>
    </td>
    <td>
        
    </td>
</tr>
<tr>
    <td class="text-nowrap">3.1.5 Reading Level</td>
    <td>AAA</td>
    <td>
        <br>
        <strong>It helps: </strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/reading-level.html" target="_blank">
            WCAG: Understanding 3.1.5: Reading Level
        </a>
    </td>
    <td>
        
    </td>
</tr>
<tr>
    <td class="text-nowrap">3.1.6: Pronunciation</td>
    <td>AAA</td>
    <td>
        <br>
        <strong>It helps: </strong><br>
        <a href="https://www.w3.org/WAI/WCAG21/Understanding/pronunciation.html" target="_blank">
            WCAG: Understanding 3.1.6: Pronunciation
        </a>
    </td>
    <td>
        
    </td>
</tr>
