<tr>
    <th scope="row" rowspan="21" class="text-nowrap">3 Understandable</th>
</tr>

<tr>
    <th scope="row" rowspan="7" class="text-nowrap">3.1 Readable</th>
</tr>
<tr>
    <td class="text-nowrap"></td>
    <td>A</td>
    <td>
        <br>
        <strong>It helps: </strong><br>
        <a href="" target="_blank">
            WCAG: 
        </a>
    </td>
    <td>
        
    </td>
</tr>
<tr>
    <td class="text-nowrap"></td>
    <td>AA</td>
    <td>
        <br>
        <strong>It helps: </strong><br>
        <a href="" target="_blank">
            WCAG: 
        </a>
    </td>
    <td>
        
    </td>
</tr>
<tr>
    <td class="text-nowrap"></td>
    <td>AAA</td>
    <td>
        <br>
        <strong>It helps: </strong><br>
        <a href="" target="_blank">
            WCAG: 
        </a>
    </td>
    <td>
        
    </td>
</tr>
<tr>
    <td class="text-nowrap"></td>
    <td>AAA</td>
    <td>
        <br>
        <strong>It helps: </strong><br>
        <a href="" target="_blank">
            WCAG: Understanding 1.1.1: Non-text Content
        </a>
    </td>
    <td>
        
    </td>
</tr>
<tr>
    <td class="text-nowrap"></td>
    <td>AAA</td>
    <td>
        <br>
        <strong>It helps: </strong><br>
        <a href="" target="_blank">
            WCAG
        </a>
    </td>
    <td>
        
    </td>
</tr>
<tr>
    <td class="text-nowrap"></td>
    <td>AAA</td>
    <td>
        <br>
        <strong>It helps: </strong><br>
        <a href="" target="_blank">
            WCAG
        </a>
    </td>
    <td>
        
    </td>
</tr>
