{{#> base title="2.4.4 Link Purpose (In Context): Links context" homeref="../../../../" }}
    {{#*inline "content"}}

        <div class="col-lg-8">
            <h2>2.4.4 Link Purpose (In Context): Links context</h2>
            
        </div>


        {{/inline}}
        {{/base}}
