{{#> base title="Links context" homeref="../../../../" }}
    {{#*inline "content"}}

        <div class="col-lg-8">
            <h2>Links context</h2>
            
        </div>


        {{/inline}}
        {{/base}}
