<h2>Scope</h2>
<nav>
    <ul>
        <li>
            Overview
            <ul>
                <li>WCAG 2.0</li>
                <li>WCAG 2.1</li>
                <li>WAI-ARIA</li>
                <li>Be more comfortable with screen readers</li>
            </ul>
        </li>
        <li>
            Resources
            <ul>
                <li>
                    General
                    <ul>
                        <li>
                            <a href="https://www.w3.org/WAI/standards-guidelines/wcag/" target="_blank">WCAG</a>
                        </li>
                        <li>
                            <a href="https://www.boia.org/wcag-2.1-a/aa-principles-and-checkpoints" target="_blank">Bureau of
                                Internet Accessibility, WCAG</a>
                        </li>
                        <li>
                            <a href="https://webaim.org/" target="_blank">WebAIM: Web Accessibility In Mind</a>
                        </li>
                        <li>
                            <a href="http://html5doctor.com/downloads/h5d-sectioning-flowchart.pdf" target="_blank">HTML
                                sectioning flowchart (pdf)</a>
                        </li>
                        <li>
                            <a href="https://www.a11yproject.com/" target="_blank">The A11Y Project</a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/watch?v=HtTyRajRuyY&list=PLNYkxOF6rcICWx0C9LVWWVqvHlYJyqw7g" target="_blank">A11ycasts, Youtube</a>
                        </li>
                        <li>
                            <a href="https://youtu.be/NexL5_Vdoq8" target="_blank">Kevin Powell, Youtube, Semantic HTML</a>
                        </li>
                        <li>
                            <a href="https://youtu.be/ULdkpU51hTQ" target="_blank">Kevin Powell, Youtube, HTML section elements are a lie (sort of)</a>
                        </li>
                    </ul>
                </li>
                <li>
                    WCAG Success Criteria Specific
                    <ul>
                        <li>
                            <a href="https://www.w3.org/WAI/GL/wiki/ARIATechnique_usingImgRole_with_aria-label_forCSS-backgroundImage" target="_blank">1.1.1 Non-text content: W3 - Accessible CSS background images</a>
                        </li>
                        <li>
                            <a href="https://www.powermapper.com/tests/screen-readers/media/audio-aria-label/" target="_blank">1.1.1 Non-text content: Powermapper - aria-label for audio, Screen
                                reader
                                compatibility</a>
                        </li>
                        <li>
                            <a href="https://www.powermapper.com/tests/screen-readers/media/video-aria-label/" target="_blank">1.1.1 Non-text content: Powermapper - aria-label for video, Screen
                                reader
                                compatibility</a>
                        </li>
                        <li>
                            <a href="https://github.com/twbs/bootstrap/issues/15304" target="_blank">1.4.1
                                Use of Color: Bootstrap default links might violate</a>
                        </li>
                        <li>
                            <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/autocomplete" target="_blank">1.3.5 Identify Input Purpose: MDN - The HTML autocomplete
                                attribute</a>
                        </li>
                        <li>
                            <a href="https://webaim.org/techniques/skipnav/" target="_blank">2.4.1 Bypass blocks: WebAIM
                                - "Skip Navigation" Links</a>
                        </li>
                        <li>
                            <a href="https://webaim.org/articles/label-name/" target="_blank">2.5.3 Label in Name:
                                WebAIM: Decoding Label and Name for Accessibility</a>
                        </li>
                    </ul>
                </li>
                <li>
                    WAI-ARIA Specific
                    <ul>
                        <li>
                            <a href="https://www.youtube.com/watch?v=g9Qff0b-lHk&list=PLNYkxOF6rcICWx0C9LVWWVqvHlYJyqw7g&index=13" target="_blank">Intro to ARIA -- A11ycasts #13</a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/watch?v=88tfx3jLV_M&list=PLNYkxOF6rcICWx0C9LVWWVqvHlYJyqw7g&index=14" target="_blank">Intro to ARIA -- A11ycasts #14</a>
                        </li>
                        <li>
                            <a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA" target="_blank">ARIA - Accessibility | MDN</a>
                        </li>
                        <li>
                            <a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques" target="_blank">Using ARIA: Roles, states, and properties - Accessibility | MDN</a>
                        </li>
                        <li>
                            <a href="https://w3c.github.io/using-aria/#html5na" target="_blank">Using ARIA - 2.14 Aria Roles and Properties Not Available as Features in HTML</a>
                        </li>
                        <li>
                            <a href="https://www.w3.org/TR/wai-aria-practices-1.1/#aria_ex" target="_blank">ARIA Authoring Practices 1.1 - Widget Patterns</a>
                        </li>
                        <li>
                            <a href="https://webaim.org/articles/label-name/#ariaLabels" target="_blank">WebAIM: ARIA Labels Always Win</a>
                        </li>
                        <li>
                            <a href="https://medium.com/accessibility-a11y/best-practices-on-aria-label-aria-labelledby-and-aria-describedby-913fc9e396ae" target="_blank">Best Practices on aria-label, aria-labelledby and aria-describedby</a>
                        </li>
                        <li>
                            <a href="https://stackoverflow.com/questions/37733795/read-label-of-aria-live-region" target="_blank">aria-live ignores aria-labelledby and aria-describedby</a>
                        </li>
                    </ul>
                </li>
                <li>
                    Modals
                    <ul>
                        <li>
                            <a href="https://www.w3.org/TR/wai-aria-practices/examples/dialog-modal/dialog.html" target="_blank">
                                WAI - Modal Dialog Example
                            </a>
                        </li>
                        <li>
                            <a href="https://developer.paciellogroup.com/blog/2018/06/the-current-state-of-modal-dialog-accessibility/" target="_blank">
                                The current state of modal dialog accessibility, 2018
                            </a>
                        </li>
                        <li>
                            <a href="https://developer.yoast.com/the-a11y-monthly-making-modals-accessible/" target="_blank">
                                The a11y Monthly: Making modals accessible
                            </a>
                        </li>
                        <li>
                            <a href="https://getbootstrap.com/docs/4.4/components/modal/" target="_blank">
                                Bootstrap - Modals
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    Form
                    <ul>
                        <li>
                            <a href="https://scholar.harvard.edu/ccwilcox/blog/safari-voiceover-problem-reading-input-labels" target="_blank">
                                Safari VoiceOver problem reading input labels
                            </a>
                        </li>
                        <li>
                            <a href="https://dequeuniversity.com/checklists/web/form-validation-feedback" target="_blank">
                                Form Validation and Feedback - Deque University
                            </a>
                        </li>
                        <li>
                            <a href="https://www.davidmacd.com/blog/test-aria-live-display-none.html" target="_blank">
                                Testing ARIA-LIVE with display:none and innerHTML
                            </a>
                        </li>
                        <li>
                            <a href="https://html.spec.whatwg.org/multipage/input.html#the-required-attribute" target="_blank">
                                Required attribute on radios, ok
                            </a>
                        </li>
                        <li>
                            <a href="https://www.sarasoueidan.com/blog/focus-indicators/" target="_blank">
                                A guide to designing accessible, WCAG-compliant focus indicators
                            </a>
                        </li>
                        <li>
                            <a href="https://technology.blog.gov.uk/2020/02/24/why-the-gov-uk-design-system-team-changed-the-input-type-for-numbers/" target="_blank">
                                Why the GOV.UK Design System team changed the input type for numbers - Technology in government
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            Assistive Technologies
            <ul>
                <li>
                    <a href="https://www.nvaccess.org/" target="_blank">NVDA Screen Reader</a>
                </li>
                <li>
                    <a href="https://dequeuniversity.com/screenreaders/" target="_blank">Deque University Screen Readers</a>
                </li>
                <li>
                    <a href="https://webaim.org/articles/nvda/" target="_blank">WebAIM: NVDA Screen Reader</a>
                </li>
                <li>
                    <a href="https://webaim.org/resources/shortcuts/nvda" target="_blank">WebAIM: NVDA Screen Reader Shortcuts</a>
                </li>
                <li>
                    <a href="https://webaim.org/articles/voiceover/" target="_blank">WebAIM: VoiceOver Screen Reader</a>
                </li>
            </ul>
        </li>
        <li>
            Testing Tools
            <ul>
                <li>
                    <a href="https://contrast-ratio.com/" target="_blank">Contrast Ratio</a>
                </li>
                <li>
                    <a href="http://juicystudio.com/services/luminositycontrastratio.php" target="_blank">Colour
                        Contrast Ratio Analyser</a>
                </li>
                <li>
                    <a href="https://websemantics.uk/articles/font-size-conversion/" target="_blank">Font
                        Size Conversion</a>
                </li>
                <li>
                    <a href="https://cdpn.io/stevef/debug/YLMqbo" target="_blank">1.4.12 Text Spacing Bookmarklet
                        (applies typography change to page run on)</a>
                </li>
                <li>
                    <a href="https://www.powermapper.com/tests/screen-readers/aria/" target="_blank">PowerMapper - Screen reader compatibility</a>
                </li>
                <li>
                    <a href="https://www.html5accessibility.com/" target="_blank">HTML5 accessibility Support</a>
                </li>
                <li>
                    <a href="https://a11ysupport.io/" target="_blank">Accessibility Support</a>
                </li>
            </ul>
        </li>
        <li>
            Inspiration / Certification
            <ul>
                <li>
                    <a href="https://100daysofa11y.com/" target="_blank">100 Days of A11y</a>
                </li>
                <li>
                    <a href="https://youtu.be/a01vcZMTJqU" target="_blank">The Handoff with Derek Mei, Youtube, CPACC</a>
                </li>
            </ul>
        </li>
        <li>
            <hr>
            My Resources
            <ul>
                <li>
                    <a href="understanding-wcag.html">Understanding WCAG</a>
                </li>
                <li>
                    <a href="wcag-table.html">WCAG table</a>
                </li>
                <li>
                    <a href="a-brief-summary-of-swedish-law.html">A brief summary of Swedish Law (Swedish)</a>
                </li>
                <li>
                    <a href="understanding-aria.html">Understanding WAI-ARIA</a>
                </li>
            </ul>
        </li>
        <li>
            My External Resources
            <ul>
                <li>
                    <a href="https://github.com/henrikmathiesen/wcag-etc" target="_blank">GitHub: henrikmathiesen wcag-etc</a>
                </li>
                <li>
                    <a href="https://github.com/henrikmathiesen/angular-x-rxjs6-plus/tree/master/src/app/other" target="_blank">GitHub: henrikmathiesen tabs with Angular</a>
                </li>
            </ul>
        </li>
        <li>
            My Coding Lab
            <ul>
                <li>
                    WCAG
                    <ul>
                        <li>
                            <a href="coding-lab/1-perceivable/1.1-text-alternatives/1.1.1-non-text-content/longer-descriptions.html">
                                1.1.1 Non-text content: Longer descriptions
                            </a>
                        </li>
                        <li>
                            <a href="coding-lab/2-operable/2.1-keyboard-accessible/2.1.1-keyboard/mouse-over-and-focus.html">
                                2.1.1 Keyboard: Mouse over and focus
                            </a>
                        </li>
                        <li>
                            <a href="coding-lab/2-operable/2.1-keyboard-accessible/2.1.1-keyboard/click-event-enter-key.html">
                                2.1.1 Keyboard: Click event and enter key
                            </a>
                        </li>
                        <li>
                            <a href="coding-lab/2-operable/2.1-keyboard-accessible/2.1.2-no-keyboard-trap/modals.html">
                                2.1.2 No keyboard trap: Modals
                            </a>
                        </li>
                        <li>
                            <a href="coding-lab/2-operable/2.4-navigable/2.4.1-bypass-blocks/bypass-blocks.html">
                                2.4.1 Bypass blocks
                            </a>
                        </li>
                        <li>
                            <a href="coding-lab/2-operable/2.4-navigable/2.4.3-focus-order/focus-order.html">
                                2.4.3 Focus Order
                            </a>
                        </li>
                        <li>
                            <a href="coding-lab/2-operable/2.4-navigable/2.4.4-link-purpose-in-context/links-context.html">
                                2.4.4 Link Purpose (In Context): Links context
                            </a>
                        </li>
                        <li>
                            <a href="coding-lab/2-operable/2.4-navigable/2.4.7-focus-visible/bs-button-state.html">
                                2.4.7 Focus Visible: Bootstrap button states
                            </a>
                        </li>
                        <li>
                            <a href="coding-lab/3-understandable/3.1-readable/3.1.2-language-of-parts/language-of-parts.html">
                                3.1.2 Language of parts
                            </a>
                        </li>
                        <li>
                            Form
                            <ul>
                                <li>
                                    <a href="coding-lab/3-understandable/3.3-input-assistance/accessible-forms-dilemma.html">
                                        Accessible Forms dilemma
                                    </a>
                                </li>
                                <li>
                                    <a href="coding-lab/3-understandable/3.3-input-assistance/accessible-forms-v1.html">
                                        3.3 Input Assistance - Accessible Forms - V1
                                    </a>
                                </li>
                                <li>
                                    <a href="coding-lab/3-understandable/3.3-input-assistance/accessible-forms-summary-v1.html">
                                        3.3 Input Assistance - Accessible Forms - with error summary - V1
                                    </a>
                                </li>
                                <li>
                                    <a href="coding-lab/3-understandable/3.3-input-assistance/accessible-forms-v2.html">
                                        3.3 Input Assistance - Accessible Forms - V2
                                    </a>
                                </li>
                                <li>
                                    <a href="coding-lab/3-understandable/3.3-input-assistance/accessible-forms-summary-v2.html">
                                        3.3 Input Assistance - Accessible Forms - with error summary - V2
                                    </a>
                                </li>
                                <li>
                                    <a href="coding-lab/3-understandable/3.3-input-assistance/accessible-forms-v3.html">
                                        3.3 Input Assistance - Accessible Forms - V3
                                    </a>
                                </li>
                                <li>
                                    <a href="coding-lab/3-understandable/3.3-input-assistance/accessible-forms-summary-v3.html">
                                        3.3 Input Assistance - Accessible Forms - with error summary - V3
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    WAI ARIA
                    <ul>
                        <li>
                            <a href="coding-lab/wai-aria/aria-tabs.html">ARIA - Tabs</a>
                        </li>
                        <li>
                            <a href="coding-lab/wai-aria/aria-tabs-arrow-keys.html">ARIA - Tabs with arrow keys</a>
                        </li>
                        <li>
                            <a href="coding-lab/wai-aria/aria-accordian.html">ARIA - Accordian</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>
