<h2>Scope</h2>
<nav>
    <ul>
        <li>
            <a href="https://iaap.membershipsoftware.org/files/103119_IAAP%20WAS%20BOK.pdf" target="_blank">WAS 2.1 Body
                of Knowledge (pdf)</a>
            <ul>
                <li>
                    Guidelines and best practices
                    <ul>
                        <li>WCAG 2.0</li>
                        <li>WCAG 2.1</li>
                        <li>ATAG</li>
                        <li>WAI ARIA</li>
                        <li>Other best practices</li>
                    </ul>
                </li>
                <li>
                    Develop
                    <ul>
                        <li>Working with accessibility throughout the project (agile/waterfall) and for
                            different disciplines</li>
                        <li>Build modern web apps with ajax and widgets and accessibility</li>
                    </ul>
                </li>
                <li>
                    Test
                    <ul>
                        <li>Get to know assistive technologies for different platforms and how people
                            with different disabilities use them</li>
                        <li>Get to know testing tools and their strength and limitations</li>
                    </ul>
                </li>
                <li>
                    Fix accessibility issues
                    <ul>
                        <li>Prioritize fixing accessibility issues in web apps, best and good enough
                            solutions, take into consideration target group, the team and resources</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            Resources
            <ul>
                <li>
                    <a href="https://www.w3.org/WAI/standards-guidelines/wcag/" target="_blank">WCAG</a>
                </li>
                <li>
                    <a href="https://www.boia.org/wcag-2.1-a/aa-principles-and-checkpoints" target="_blank">Bureau of
                        Internet Accessibility, WCAG</a>
                </li>
                <li>
                    <a href="http://html5doctor.com/downloads/h5d-sectioning-flowchart.pdf" target="_blank">HTML
                        sectioning flowchart (pdf)</a>
                </li>
                <li>
                    Modals
                    <ul>
                        <li>
                            <a href="https://www.w3.org/TR/wai-aria-practices/examples/dialog-modal/dialog.html" target="_blank">
                                WAI - Modal Dialog Example
                            </a>
                        </li>
                        <li>
                            <a href="https://developer.paciellogroup.com/blog/2018/06/the-current-state-of-modal-dialog-accessibility/" target="_blank">
                                The current state of modal dialog accessibility, 2018
                            </a>
                        </li>
                        <li>
                            <a href="https://developer.yoast.com/the-a11y-monthly-making-modals-accessible/" target="_blank">
                                The a11y Monthly: Making modals accessible
                            </a>
                        </li>
                        <li>
                            <a href="https://getbootstrap.com/docs/4.4/components/modal/" target="_blank">
                                Bootstrap - Modals
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    WCAG Success Criteria Specific
                    <ul>
                        <li>
                            <a href="https://www.w3.org/WAI/GL/wiki/ARIATechnique_usingImgRole_with_aria-label_forCSS-backgroundImage"
                                target="_blank">1.1.1 Non-text content: Accessible CSS background images</a>
                        </li>
                        <li>
                            <a href="https://www.powermapper.com/tests/screen-readers/media/audio-aria-label/"
                                target="_blank">1.1.1 Non-text content: aria-label for audio, Screen reader
                                compatibility</a>
                        </li>
                        <li>
                            <a href="https://www.powermapper.com/tests/screen-readers/media/video-aria-label/"
                                target="_blank">1.1.1 Non-text content: aria-label for video, Screen reader
                                compatibility</a>
                        </li>
                        <li>
                            <a href="https://github.com/twbs/bootstrap/issues/15304" target="_blank">1.4.1
                                Use of Color: Bootstrap default links might violate</a>
                        </li>
                        <li>
                            <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/autocomplete"
                                target="_blank">1.3.5 Identify Input Purpose: MDN: The HTML autocomplete
                                attribute</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            Assistive Technologies
            <ul>
                <li>
                    <a href="https://www.nvaccess.org/" target="_blank">NVDA Screen Reader</a>
                </li>
            </ul>
        </li>
        <li>
            Testing Tools
            <ul>
                <li>
                    <a href="https://contrast-ratio.com/" target="_blank">Contrast Ratio</a>
                </li>
                <li>
                    <a href="http://juicystudio.com/services/luminositycontrastratio.php" target="_blank">Colour
                        Contrast Ratio Analyser</a>
                </li>
                <li>
                    <a href="https://websemantics.uk/articles/font-size-conversion/" target="_blank">Font
                        Size Conversion</a>
                </li>
                <li>
                    <a href="https://cdpn.io/stevef/debug/YLMqbo" target="_blank">1.4.12 Text Spacing Bookmarklet (applies typography change to page run on)</a>
                </li>
            </ul>
        </li>
        <li>
            Inspiration
            <ul>
                <li>
                    <a href="https://100daysofa11y.com/" target="_blank">100 Days of A11y</a>
                </li>
            </ul>
        </li>
        <li>
            My Resources
            <ul>
                <li><a href="understanding-wcag.html">Understanding WCAG</a></li>
                <li><a href="wcag-table.html">WCAG table</a></li>
            </ul>
        </li>
        <li>
            My Coding Lab
            <ul>
                <li>
                    <a
                        href="coding-lab/1-perceivable/1.1-text-alternatives/1.1.1-non-text-content/longer-descriptions.html">
                        1.1.1 Non-text content: Longer descriptions</a>
                </li>
                <li>
                    <a href="coding-lab/2-operable/2.1-keyboard-accessible/2.1.1-keyboard/mouse-over-and-focus.html">
                        2.1.1 Mouse over and focus
                    </a>
                </li>
                <li>
                    <a href="coding-lab/2-operable/2.1-keyboard-accessible/2.1.1-keyboard/click-event-enter-key.html">
                        2.1.1 Click event and enter key
                    </a>
                </li>
                <li>
                    <a href="coding-lab/2-operable/2.1-keyboard-accessible/2.1.2-no-keyboard-trap/modals.html">
                        2.1.2 Modals
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
