{{#> base title="3.1.2 Language of parts" homeref="../../../../" }}
    {{#*inline "content"}}

        <div class="col-lg-8">
            <h2>3.1.2 Language of parts</h2>
            <p>
                HTML has attribute lang set to en.
            </p>

            <p>
                This text is in english and NVDA should read it in english.
            </p>
            <!-- just testing: lang sv with english text -->
            <p lang="sv">
                This text is in english and NVDA should read it in english.
            </p>
            
            <p lang="sv">
                Denna texten är på svenska och NVDA ska läsa den på svenska.
            </p>
            <!-- just testing: lang en with swedish text -->
            <p lang="en">
                Denna texten är på svenska och NVDA ska läsa den på svenska.
            </p>

            <p>
                When using the wrong lang value NVDA does not sound quit right. As expected really.
            </p>
        </div>

        


        {{/inline}}
        {{/base}}
