{{#> base title="3.1.2 Language of parts" homeref="../../../../" }}
    {{#*inline "content"}}

        <div class="col-lg-8">
            <h2>3.1.2 Language of parts</h2>
            <p>
                HTML has attribute lang set to en.
            </p>
        </div>

        


        {{/inline}}
        {{/base}}
