{{#> base title="3.1.2 Language of parts" homeref="../../../../" }}
    {{#*inline "content"}}

        <div class="col-lg-8">
            <h2>3.1.2 Language of parts</h2>
            <p>
                HTML has attribute lang set to en.
            </p>
            <p>
                This text is in english and NVDA should read it in english.
            </p>
            <p lang="sv">
                Denna texten 채r p책 svenska och NVDA ska l채sa den p책 svenska.
            </p>
        </div>

        


        {{/inline}}
        {{/base}}
