{{#> base title="Accessible Forms dilemma" homeref="../../../" }}
    {{#*inline "content"}}

        <div class="col-lg-9">

            <h2>Accessible Forms dilemma</h2>

        </div>

    {{/inline}}
    {{/base}}
