{{#> base title="3.3 Input Assistance - Accessible Forms" homeref="../../../" }}
    {{#*inline "content"}}

    <div class="col-lg-8">

        <h2>3.3 Input Assistance - Accessible Forms - V4</h2>




    </div>

    <script>

        console.log('working');

    </script>

    {{/inline}}
{{/base}}