{{#> base title="Accessible Forms dilemma" homeref="../../../" }}
    {{#*inline "content"}}

        <div class="col-lg-12">

            <div class="row">
                <div class="col-lg-9">
                    <h2>Accessible Forms dilemma</h2>

                    <p>
                        The dilemma is communicating validation errors effectivly to different screen readers (testing with NVDA and VoiceOver),
                        in a form that should be modern and pleasing from an UX point of view.
                    </p>
                    <p>
                        My experience is also that the information on this subject is rather scarce and bits and pieces here and there are sometimes
                        conflicting and hard to glue together. <!-- TODO: give examples (further down) -->
                    </p>
                    <p>
                        Before we dive into the concrete dilemma we need some prepping.
                    </p>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col">
                    <h3 class="h4">Terminology</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <h4 class="h5">Events</h4>
                    <ul>
                        <li class="mb-1"><strong class="text-primary">Focus:</strong> Input has focus, either by the user clicks on it or tabs to it</li>
                        <li class="mb-1"><strong class="text-primary">Blur:</strong> Input loses focus, either by the user clicks outside it or tabs away from it</li>
                        <li class="mb-1"><strong class="text-primary">Submit:</strong> The user clicks on the submit button (could have different copy), tabs to the submit button and presses enter, or an input (that is not a textarea) has focus and user presses enter</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h4 class="h5">Input states</h4>
                    <ul>
                        <li class="mb-1"><strong class="text-primary">Untouched:</strong> The input has never recieved focus</li>
                        <li class="mb-1"><strong class="text-primary">Touched:</strong> The input has had focus</li>
                        <li class="mb-1"><strong class="text-primary">Pristine:</strong> The input has never had a value (if input has a placeholder, it has never had another value than the placeholder value)</li>
                        <li class="mb-1"><strong class="text-primary">Dirty:</strong> The input has a value or has had a value</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h4 class="h5">Input Validation Rules</h4>
                    <ul>
                        <li class="mb-1"><strong class="text-primary">Required:</strong> The input is considered invalid if left blank or a placeholder selection is selected</li>
                        <li class="mb-1"><strong class="text-primary">Pattern:</strong> The input is considered invalid if value not following a certain pattern, for example only numbers or a date in a specific format</li>
                        <li class="mb-1"><strong class="text-primary">As a side note:</strong> Required and Pattern can not be invalid at the same time, since Pattern invalid requires a value</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h4 class="h5">Attributes</h4>
                    <ul>
                        <li class="mb-1"><strong class="text-primary">for:</strong> placed on a label, programmaticaly connects it with an inputs id</li>
                        <li class="mb-1"><strong class="text-primary">aria-label:</strong> a screen reader will read its value instead of the value in the tag the attribute is placed on</li>
                        <li class="mb-1"><strong class="text-primary">required:</strong> placed on an input, programmaticaly mark it as required</li>
                        <li class="mb-1"><strong class="text-primary">aria-invalid:</strong> placed on an invalid input, programmaticaly mark it as invalid if true</li>
                        <li class="mb-1"><strong class="text-primary">aria-describedby:</strong> placed on an invalid input, programmaticaly connect it with the id of the element containing a validation message</li>
                        <li class="mb-1"><strong class="text-primary">aria-live:</strong> placed on an element (should exist in DOM), tell screen readers to announce dynamic content in the element, politly or assertive</li>
                        <li class="mb-1"><strong class="text-primary">role= alert | status:</strong> same as aria-live= assertive | polite</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <h4 class="h5">Other</h4>
                    <ul>
                        <li class="mb-1"><strong class="text-primary">Validation message:</strong> Text communicating to the user why an input is invalid</li>
                        <li class="mb-1"><strong class="text-primary">Error summary:</strong> All validation messages listed, as links, pointing to the invalid input by an href with inputs id</li>
                        <li class="mb-1"><strong class="text-primary">display none:</strong> Hidden with css, not read by screen readers</li>
                        <li class="mb-1"><strong class="text-primary">display block:</strong> Visible with css, read by screen readers</li>
                        <li class="mb-1"><strong class="text-primary">inject:</strong> Element with content is injected into DOM</li>
                    </ul>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col">
                    <h3 class="h4">Three brave forms and their validation UX</h3>
                    <p>
                        Each version has two sub versions, one is with an error summary and one without.
                    </p>
                    <h4 class="h5 mb-3">What they all have in common</h4>
                    <p>
                        Each input has an associated label. The date input's label and pattern validation message p tag has a span with an aria-label further explaining valid patterns.
                        Required inputs are marked with required. When invalid, the inputs get an aria-invalid attribute.
                    </p>
                    <p>
                        Both required and pattern validation hit when input dirty + invalid + blur (some call this direct validation or dynamic validation).
                    </p>
                    <p>
                        Both required and pattern validation hit when input invalid + submit. 
                        Focus is then placed on the first invalid input, or for the subversion with error summary
                        focus is placed on the (now visible) error summary's header.
                    </p>
                    <p>
                        Each validation message are placed in a p tag that is a sibbling to the input tag, Bootstrap's CSS rule makes them display none.
                        When an input is invalid it gets a CSS class, is-invalid, and then Bootstrap's CSS sibbling rule makes the p tag display block,
                        showing the validation message.
                    </p>
                    <p>
                        However the error summary works like this: In DOM there is an ul tag with an id, when error summary is shown
                        li and a tags are injected into the ul tag. Because I need to clear the list.
                    </p>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-4">
                    <h4 class="h5">Version 1 (my prefered version)</h4>
                    <p>Describe ux</p>
                    <ul>
                        <li>
                            <a href="accessible-forms-v1.html">Version 1, without error summary</a>
                        </li>
                        <li>
                            <a href="accessible-forms-summary-v1.html">Version 1, with error summary</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h4 class="h5">Version 2</h4>
                    <p>Describe ux</p>
                    <ul>
                        <li>
                            <a href="accessible-forms-v2.html">Version 2, without error summary</a>
                        </li>
                        <li>
                            <a href="accessible-forms-summary-v2.html">Version 2, with error summary</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h4 class="h5">Version 3</h4>
                    <p>Describe ux</p>
                    <ul>
                        <li>
                            <a href="accessible-forms-v3.html">Version 3, without error summary</a>
                        </li>
                        <li>
                            <a href="accessible-forms-summary-v3.html">Version 3, with error summary</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col">
                    <h3 class="h4">The dilemma</h3>
                    <p>
                        Descibe it and put references here (dequeuniversity, mdn on aria-live, 4.1.3 Status Messages, DIGG).
                    </p>
                </div>
            </div>

        </div>

    {{/inline}}
    {{/base}}
