{{#> base homeref="../../../../" }}
    {{#*inline "content"}}

        <div class="col-lg-6">
            <h2>Longer descriptions</h2>

            <h3 class="h4">aria-describedby or aria-details</h3>
            <p>A (non working) image with alt attribute and aria-describedby pointing to a element.</p>
            <img src="non-working-image" alt="Henry the Great" aria-describedby="henry-desc" />
            <p id="henry-desc">A long description for this image. We dont hide this div with .sr-only since the more ways we present information to people the more inclusive the design is.</p>
            
            <h4 class="h5">Notes on aria-describedby and aria-details</h4>
            <ul>
                <li>
                    <a href="https://webaim.org/discussion/mail_thread?thread=7002" target="_blank">Any semantic in
                        aria-describedby referenced element will be ignored by assistive technology</a>
                </li>
                <li>
                    <a href="https://www.w3.org/TR/wai-aria-1.1/#aria-details" target="_blank">aria-details supports
                        semantic in referenced element</a>
                </li>
            </ul>

            <h3 class="h4">longdesc attribute</h3>
            <ul>
                <li>
                    <a href="https://www.w3.org/WAI/WCAG21/Techniques/html/H45" target="_blank">Can point to seperate
                        page or element on same page</a>
                </li>
                <li>
                    <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img" target="_blank">Deprecated
                        (search longdesc)</a>
                </li>
            </ul>

            <h3 class="h4">Best approach</h3>
            <p>
                aria-details or a normal link to a page with the long description seems like the best approach.
            </p>
            <p>
                <a href="https://webaim.org/discussion/mail_thread?thread=7002" target="_blank">There is a interesting
                    discussion about long description at webaim</a>
            </p>
        </div>

        {{/inline}}
        {{/base}}
