{{#> base title="Kort summering av svensk lag" }}
    {{#*inline "content"}}

        <article class="col-lg-8" lang="sv">
            <h2>Kort summering av svensk lag</h2>
            
            <h3 class="h4">DOS-lagen (Lagen om tillgänglighet till digital offentlig service)</h3>
            <p>
                Offentliga organisationer måste:
            </p>

            <ul>
                <li>Följa WCAG</li>
                <li>Offentligt redogöra brister (på sin sajt tex) där de inte följer WCAG</li>
                <li>Vara mottagliga för feedback rörande tillgänglighet</li>
            </ul>

            <p>
                Användare ska kunna anmäla organisationer till DIGG.
            </p>

            <p>
                DIGG är kontrollmyndighet.
            </p>

            <p>
                Klubbades först igenom i EU 2016<br>
                Svensk lag 2018
            </p>

            <p>
                <a href="https://www.digg.se/utveckling--innovation/digital-tillganglighet" target="_blank">DIGG - digital tillgänglighet</a>
            </p>

            <p>
                Digital tillgänglighet är också utsprinklad i Lagen om offentlig upphandling och Diskrimineringslagen. Men sen 2018 finns det samlat i DOS.
            </p>

        </article>

        {{/inline}}
        {{/base}}
