{{#> base }}
    {{#*inline "content"}}

        <article class="col-lg-6">
            <h2>Welcome!</h2>
            <p>
                I'am a front end developer in the pursuit of leveling up my skills in WCAG and web accessibility in
                general.
            </p>
            <p>
                This site will be the hub for my studies. The focus is on accessibility resources and experimenting
                with HTML, CSS, JavaScript and various assistive technologies.
            </p>
            <h3 class="h4">What is web accessibility?</h3>
            <blockquote class="blockquote">
                <p class="mb-0">
                    "The Web is fundamentally designed to work for all people, whatever their hardware, software,
                    language, location, or ability. When the Web meets this goal, it is accessible to people with a
                    diverse range of hearing, movement, sight, and cognitive ability."
                </p>
                <footer class="blockquote-footer">
                    W3C
                    <cite>
                        <a href="https://www.w3.org/standards/webdesign/accessibility"
                            target="_blank">https://www.w3.org/standards/webdesign/accessibility</a>
                    </cite>
                </footer>
            </blockquote>
            <h3 class="h4">Why do I care?</h3>
            <ul>
                <li>It is a good thing to do</li>
                <li>As a front end developer I need to care</li>
            </ul>
            <p class="mt-lg-5 mt-3 text-lg-center text-right text-muted">Henrik Mathiesen, 2019</p>
        </article>
        <section class="col-lg-6">
            {{> index/scope }}
        </section>

        {{/inline}}
        {{/base}}
