{{#> base }}
    {{#*inline "content"}}

        <article class="col-lg-6">
            <h2>Welcome!</h2>
            <p>
                I'am a front end developer in the pursuit of leveling up my skills in WCAG and web accessibility in
                general.
                In the future I aim to take the <a href="http://www.iaapnordic.org/certifiering/was/"
                    target="_blank">Web Accessibility Specialist (WAS) certificate (Swedish)</a>.
            </p>
            <p>
                This site will be the hub for my studies. The focus is on accessibility resources and experimenting
                with HTML, CSS, JavaScript and various assistive technologies.
            </p>
            <h3 class="h4">What is web accessibility?</h3>
            <blockquote class="blockquote">
                <p class="mb-0">
                    "The Web is fundamentally designed to work for all people, whatever their hardware, software,
                    language, location, or ability. When the Web meets this goal, it is accessible to people with a
                    diverse range of hearing, movement, sight, and cognitive ability."
                </p>
                <footer class="blockquote-footer">
                    W3C
                    <cite>
                        <a href="https://www.w3.org/standards/webdesign/accessibility"
                            target="_blank">https://www.w3.org/standards/webdesign/accessibility</a>
                    </cite>
                </footer>
            </blockquote>
            <h3 class="h4">Why do I care?</h3>
            <ul>
                <li>It is a good thing to do</li>
                <li>As a front end developer I need to care</li>
            </ul>
            <p class="mt-lg-5 mt-3 text-lg-center text-right text-muted">Henrik Mathiesen, 2019</p>
        </article>
        <section class="col-lg-6">
            <h2>Scope</h2>
            <nav>
                <ul>
                    <li>
                        <a href="https://iaap.membershipsoftware.org/files/103119_IAAP%20WAS%20BOK.pdf"
                            target="_blank">WAS 2.1 Body of Knowledge (pdf)</a>
                        <ul>
                            <li>
                                Guidelines and best practices
                                <ul>
                                    <li>WCAG 2.0</li>
                                    <li>WCAG 2.1</li>
                                    <li>ATAG</li>
                                    <li>WAI ARIA</li>
                                    <li>Other best practices</li>
                                </ul>
                            </li>
                            <li>
                                Develop
                                <ul>
                                    <li>Working with accessibility throughout the project (agile/waterfall) and for
                                        different disciplines</li>
                                    <li>Build modern web apps with ajax and widgets and accessibility</li>
                                </ul>
                            </li>
                            <li>
                                Test
                                <ul>
                                    <li>Get to know assistive technologies for different platforms and how people
                                        with different disabilities use them</li>
                                    <li>Get to know testing tools and their strength and limitations</li>
                                </ul>
                            </li>
                            <li>
                                Fix accessibility issues
                                <ul>
                                    <li>Prioritize fixing accessibility issues in web apps, best and good enough
                                        solutions, take into consideration target group, the team and resources</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Resources
                        <ul>
                            <li>
                                <a href="https://www.w3.org/WAI/standards-guidelines/wcag/" target="_blank">WCAG</a>
                            </li>
                            <li>
                                <a href="https://www.boia.org/wcag-2.1-a/aa-principles-and-checkpoints"
                                    target="_blank">Bureau of Internet Accessibility, WCAG</a>
                            </li>
                            <li>
                                <a href="http://html5doctor.com/downloads/h5d-sectioning-flowchart.pdf"
                                    target="_blank">HTML sectioning flowchart (pdf)</a>
                            </li>
                            <li>
                                WCAG Success Criteria Specific
                                <ul>
                                    <li>
                                        <a href="https://www.w3.org/WAI/GL/wiki/ARIATechnique_usingImgRole_with_aria-label_forCSS-backgroundImage"
                                            target="_blank">1.1.1 Non-text content: Accessible CSS background images</a>
                                    </li>
                                    <li>
                                        <a href="https://www.powermapper.com/tests/screen-readers/media/audio-aria-label/"
                                            target="_blank">1.1.1 Non-text content: aria-label for audio, Screen reader
                                            compatibility</a>
                                    </li>
                                    <li>
                                        <a href="https://www.powermapper.com/tests/screen-readers/media/video-aria-label/"
                                            target="_blank">1.1.1 Non-text content: aria-label for video, Screen reader
                                            compatibility</a>
                                    </li>
                                    <li>
                                        <a href="https://github.com/twbs/bootstrap/issues/15304" target="_blank">1.4.1
                                            Use of Color: Bootstrap default links might violate</a>
                                    </li>
                                    <li>
                                        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/autocomplete"
                                            target="_blank">1.3.5 Identify Input Purpose: MDN: The HTML autocomplete
                                            attribute</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Assistive Technologies
                        <ul>
                            <li>
                                <a href="https://www.nvaccess.org/" target="_blank">NVDA Screen Reader</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Testing Tools
                        <ul>
                            <li><a href="https://contrast-ratio.com/" target="_blank">Contrast Ratio</a></li>
                            <li><a href="https://websemantics.uk/articles/font-size-conversion/" target="_blank">Font
                                    Size Conversion</a></li>
                        </ul>
                    </li>
                    <li>
                        Inspiration
                        <ul>
                            <li>
                                <a href="https://100daysofa11y.com/" target="_blank">100 Days of A11y</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        My Resources
                        <ul>
                            <li><a href="understanding-wcag.html">Understanding WCAG</a></li>
                            <li><a href="wcag-table.html">WCAG table</a></li>
                        </ul>
                    </li>
                    <li>
                        My Coding Lab
                        <ul>
                            <li>
                                <a
                                    href="coding-lab/1-perceivable/1.1-text-alternatives/1.1.1-non-text-content/longer-descriptions.html">
                                    1.1.1 Non-text content: Longer descriptions</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </section>

        {{/inline}}
        {{/base}}
