{{#> base title="Screen Reader Shortcuts" }}
    {{#*inline "content"}}

        <div class="col">
            <h2>Screen Reader Shortcuts</h2>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Task</th>
                        <th scope="col">Command NVDA</th>
                        <th scope="col">Command Voice Over</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Foo 1</td>
                        <td>Foo 2</td>
                        <td>Foo 3</td>
                    </tr>
                </tbody>
            </table>
        </div>


        {{/inline}}
        {{/base}}
