{{#> base title="Screen Reader Shortcuts" }}
{{#*inline "content"}}

<div class="col-lg-8">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Task</th>
                <th scope="col">Voice Over</th>
                <th scope="col">NVDA</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Turn On</td>
                <td>Command + F5</td>
                <td></td>
            </tr>
            <tr>
                <td>Turn Off</td>
                <td>Command + F5</td>
                <td></td>
            </tr>
            <tr>
                <td>Stop Reading</td>
                <td>CTRL</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

{{/inline}}
{{/base}}