{{#> base title="Screen Reader Shortcuts" }}
{{#*inline "content"}}

<div class="col-lg-8">
    <h2>Voice Over</h2>
    <p>
        Voice Over Key (VO) = CTRL + OPTION
    </p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Task</th>
                <th scope="col">Command</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Start / Turn Off</td>
                <td>CMD + F5</td>
            </tr>
            <tr>
                <td>Stop Reading</td>
                <td>CTRL</td>
            </tr>
            <tr>
                <td>VO + SHIFT + UP / DOWN</td>
                <td>Birds View Up / Drill Down</td>
            </tr>
            <tr>
                <td>VO + LEFT / RIGHT</td>
                <td>Navigate Items on Current Level</td>
            </tr>
            <tr>
                <td>VO + UP / DOWN</td>
                <td>Navigate Table Column</td>
            </tr>
            <tr>
                <td>VO + Z</td>
                <td>Read Last Spoken Phrase</td>
            </tr>
            <tr>
                <td>VO + A</td>
                <td>Read From Here</td>
            </tr>
            <tr>
                <td>VO + P</td>
                <td>Read Paragraph</td>
            </tr>
            <tr>
                <td>VO + S</td>
                <td>Read Sentence</td>
            </tr>
            <tr>
                <td>VO + CMD + H (SHIFT reverse)</td>
                <td>Cycle Headers</td>
            </tr>
            <tr>
                <td>VO + CMD + L (SHIFT reverse)</td>
                <td>Cycle Links</td>
            </tr>
            <tr>
                <td>VO + CMD + T (SHIFT reverse)</td>
                <td>Cycle Tables</td>
            </tr>
            <tr>
                <td>VO + CMD + J (SHIFT reverse)</td>
                <td>Cycle Form Controls</td>
            </tr>
            <tr>
                <td>VO + CMD + X (SHIFT reverse)</td>
                <td>Cycle Lists</td>
            </tr>
            <tr>
                <td>VO + SHIFT + I</td>
                <td>Read Info About Page</td>
            </tr>
            <tr>
                <td>VO + U (Close with ESC)</td>
                <td>Roter</td>
            </tr>
        </tbody>
    </table>
</div>

{{/inline}}
{{/base}}