{{#> base }}
    {{#*inline "content"}}

        <article class="col-lg-8">
            <h2>Understanding WCAG</h2>
            <p>
                Web Content Accessibility Guidelines was first released 1998. Version 2 was released 2008 and
                version 2.1 2018.
            </p>
            <p>
                The main purpose of WCAG is to make content more accessible for people with disabilities.
                But allthough web accessibility is essential for people with disabilities it is useful for all
                people.
            </p>
            <p>
                WCAG is authored in such a way that compliance with it can be tested by a combination of machine and
                human evaluation.
                There are other accessibility measures like "short paragraphs", these techniques promotes usability
                for all users,
                but are not included in WCAG because they are not easily testable.
            </p>

            <h3 class="h4">The Four Principles</h3>
            <p>
                The foundation for WCAG are four principles (POUR): Perceivable, Operable, Understandable, Robust.
            </p>

            <h4 class="h5">Perceivable</h4>
            <p>
                Information and user interface components can't be invisible to all the user's senses.
                One of the biggest barriers to perceivability is content that is only available in visual or in
                audio format.
            </p>
            <p>
                In most cases, the key to perceivability is converting non-textual content into text,
                which can then be processed by the assistive technology of the user’s choice.
            </p>
            <p>
                Other perceivability concerns under WCAG include the use of high-contrast color schemes and the
                ability to resize text,
                so that people with low vision can successfully use and navigate your site.
            </p>

            <h4 class="h5">Operable</h4>
            <p>
                Perceivable focuses on the user being able to passively access the information in the interface.
                Operable on the other hand focuses on the user being able to interact and make full use of the
                interface.
            </p>
            <p>
                It is crucial that the interface is navigatable with only the keyboard, both for blind users and for
                those
                who may not have the fine motor skills required to operate a mouse.
            </p>
            <p>
                Users should be able to adjust, pause, or disable time limits unless the limit is absolutely
                necessary or longer than 20 hours.
            </p>
            <p>
                Good semantic in HTML code should be used and the DOM order should match the visual order of
                elements.
            </p>
            <p>
                Make links purpose clear and use big enough touch targets.
            </p>

            <h4 class="h5">Understandable</h4>
            <p>
                The user should be able to understand the information and interface.
            </p>
            <p>
                Form validation is a part of the Understandable principle.
                In order for people with disabilities to understand the problem and correct the issue, websites
                should provide better error messages and help prevent errors whenever possible.
            </p>
            <p>
                This principle also focuses on readability and predictability. Developers should use the lang
                attribute,
                explain unusual words and use a consistent design with a predictable functionality.
            </p>

            <h4 class="h5">Robust</h4>
            <p>
                Robustness is the shortest of the four principles. Robustness, as defined by WCAG, refers
                specifically to web content that is compatible with a variety of "user agents" (like browsers and
                assistive technologies).
            </p>
            <p>
                Developers should focus on writing valid HTML and use semantic elements correctly for their intended
                purpose.
            </p>
            <p>
                If your website uses custom-built components, however, you will need to use ARIA roles to provide a
                description of the element’s function.
                Also make sure that assistive technologies can receive status messages without focus.
            </p>

            <h3 class="h4">Guidelines and Success Criterias</h3>
            <p>
                Web Content Accessibility Guidelines, current version 2.1 contains
                <strong>4 principles</strong> that lays the foundation of Web accessibility.
                Under the principles are <strong>13 guidelines</strong>, that authors should
                work towards.
                For each guideline, testable <strong>success criteria</strong> are provided, with three levels of
                <strong>conformance (A, AA, AAA)</strong> each of which successively describing a higher standard of
                accessibility,
                followed by more information on how to <strong>understand</strong> and <strong>meet</strong> the
                criteria.
                For meeting the criteria there are <strong>Sufficient Techniques</strong>, <strong>Advisory
                    Techniques</strong>
                and <strong>Failures</strong>.
            </p>
            <h4 class="h5">Normative or Informative</h4>
            <p>
                The principles, guidelines and success criterias are normative (must be met), technology neutral and
                are not updated regularly.
                Whereas the Sufficient Techniques, Advisory Techniques and Failures are
                informative (not normative),
                meaning that they inform conformance and can change, they also give technology specific examples.
            </p>
            <h3 class="h4">New in 2.1</h3>
            <p>
                WCAG 2.1 updated 2.0 with: 1 new Guideline was added, <strong class="text-info">2.5 Input
                    Modalities</strong>
                and a total of <strong class="text-info">17 new Success Criteria</strong>.
                Focusing on users with cognitive or learning disabilities, low vision, and
                mobile devices.
            </p>
        </article>

        {{/inline}}
        {{/base}}
