{{#> base title="Understanding ARIA" }}
    {{#*inline "content"}}

        <article class="col-lg-8">
            <h2>Understanding ARIA</h2>
            
            

        </article>

        {{/inline}}
        {{/base}}
