{{#> base title="WCAG Table" fluid="true" }}
    {{#*inline "content"}}

        <div class="col">
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th scope="col">Principle</th>
                        <th scope="col">Guideline</th>
                        <th scope="col">Success Criteria</th>
                        <th scope="col">Conformance</th>
                        <th scope="col">Understanding</th>
                        <th scope="col">How to Meet</th>
                    </tr>
                </thead>
                <tbody>
                    {{> wcag-table/perceivable }}
                    {{> wcag-table/operable }}
                    {{> wcag-table/understandable }}
                    {{> wcag-table/robust }}
                </tbody>
            </table>
        </div>

        {{/inline}}
        {{/base}}
