{{#> base title="Introduction to Developing Custom Components with ARIA 1" homeref="../../../" }}
{{#*inline "content"}}

<article class="col-lg-8">
    <h2>Introduction to Developing Custom Components with ARIA 1</h2>
    <p>
        <a href="https://app.pluralsight.com/library/courses/introduction-developing-custom-components-aria/table-of-contents"
            target="_blank">Link to course</a>
    </p>

    <h3 class="h4">Course Overview</h3>
    <p>
        ARIA is essential for delivering a rich and interactive experience on the web today.
        We will be looking at the offical ARIA standard and Authoring Practices.
    </p>
    <p>
        Also the 5 rules of ARIA and how to follow them. 
        And the 3 core elements that every interactive component should provide.
    </p>
    <p>
        We also covers the dangers with ARIA and the importance of testing the components properly.
        Plus Tips and Tricks!
    </p>

    <h3 class="h4">Getting Started: Intro to ARIA</h3>
    <p>
        ...
    </p>
    


</article>

{{/inline}}
{{/base}}