{{#> base title="Introduction to Developing Custom Components with ARIA 1" homeref="../../../" }}
{{#*inline "content"}}

<article class="col-lg-8">
    <h2>Introduction to Developing Custom Components with ARIA 1</h2>
    <p>
        <a href="https://app.pluralsight.com/library/courses/introduction-developing-custom-components-aria/table-of-contents"
            target="_blank">Link to course</a>
    </p>

    <h3 class="h4">Course Overview</h3>
    <p>
        ...
    </p>
    


</article>

{{/inline}}
{{/base}}