{{#> base title="Accessibility: Testing and Screen Reader Use" homeref="../" }}
{{#*inline "content"}}

<article class="col-lg-8">
    <h2>Accessibility: Testing and Screen Reader Use</h2>
    <p>
        <a href="https://app.pluralsight.com/library/courses/accessibility-testing-and-screen-reader/table-of-contents"
            target="_blank">Link to course</a>
    </p>

    <h3 class="h4">Course Overview</h3>
    <p>
        Testing for accessibility should be embedded in our daily workflow. 
        There are tools to help us, but we also need to test manually with for example screen readers.
    </p>
    <p>
        In this course we cover: 
    </p>
    <ul>
        <li>Testing with different input modalities, like keyboard, touch and voice.</li>
        <li>Doing static code analysis, like HTML validation and inspecting source code in the browser.</li>
        <li>Testing with screen readers NVDA, JAWS and Voice Over (Mac OS and iOS).</li>
    </ul>

    <h3 class="h4">Basic Testing Techniques</h3>
    <h4 class="h5">Physical</h4>
    <p>
        About 14% of the population has some form av physical dissability.
    </p>
    <p>
        The single most important thing to do is test the interface with the keyboard. It will give an indication of the support for other inputs as well. 
        Links, buttons and form elements are focusable elements that we should be able to tab to, and activate by enter key. 
        It is also important that the focus indicator is easy to see. Also try to not use several different variants of focus indicators.
    </p>
    <p>
        Preferebly the first tab stop on a page should be skip links, that lets a user skip to the main content.
    </p>
    <p>
        document.activeElement in Chrome Developer Tools Console, will return the current element that has focus.
    </p>
    <p>
        Radios uses so called widget navigation (tab to them, navigate inside the group with arrow keys, select with space).
    </p>
    <p>
        Form controls are usally activated with space key (sometime enter to select an option in a select). Links and buttons are usally activated using enter key. 
        Can differ between operating systems.
    </p>
    <p>
        Logical tab order, and no keyboard trap is also important. Also when tabbing to an element, there should never be a change of context (route change, reload, automatic move focus).
    </p>
    <h5 class="h6">Touch and Voice</h5>
    <p>
        Gestures / motion, users should also be able to click a button or some other control.
    </p>
    <p>
        Pointer cancelation is important, onUp event should be used (default with links and buttons).
    </p>
    <p>
        Label in name.
    </p>
    <p>
        User should have enough time. Turn off, adjust, give user option to extend (atleast 10 times).
    </p>
    <p>
        Test for orientation, should not be locked to one viewport.
    </p>
    <h4 class="h5">Vision</h4>
    <p>
        Blind, low vision (including color blindness).
    </p>
    <p>
        Test for zoom (400%), text sizing (200%), reflow. Does everything work and look ok? Does responsive media queries hide things (for "mobile")? Could be a problem... 
        Should generally not need to scroll in both directions.
    </p>
    <p>
        Text spacing, etc, user should be able to change typography (see tools). Does everything work and look ok?
    </p>
    <p>
        Use color effectivly. Dont use color alone to indicate meaning (remember to underline links in paragraphs).
    </p>
    <p>
        Chrome Developer Tools has a Rendering tab (more tools), that can simulate color blindness and other. Also remember the Accessibility tab under Elements.
    </p>
    <p>
        Contrast is important, see tools. It is important to remember to chech text contrast when text overlays an image and text is resized.
    </p>
    <p>
        Status updates should be communicated.
    </p>
    <p>
        Video should have transcripts (will satisfy both users that can not see and can not hear the media). Paus, stop, hide. Dont auto start the media.
    </p>
    <p>
        Pop up and tooltip, be careful so not covering content. Hover AND focus should open it. 
        Dismiss with ESC, hovering off / blur only, stay persistent on scroll, rezise and hovering inside tooltip (and copy the content).
    </p>
    <h4 class="h5">Cognitive</h4>
    <h4 class="h5">Hearing</h4>


</article>

{{/inline}}
{{/base}}