{{#> base title="Accessibility: Testing and Screen Reader Use" homeref="../" }}
{{#*inline "content"}}

<article class="col-lg-8">
    <h2>Accessibility: Testing and Screen Reader Use</h2>
    <p>
        <a href="https://app.pluralsight.com/library/courses/accessibility-testing-and-screen-reader/table-of-contents"
            target="_blank">Link to course</a>
    </p>

    

</article>

{{/inline}}
{{/base}}