{{#> base title="Accessibility: Testing and Screen Reader Use" homeref="../" }}
{{#*inline "content"}}

<article class="col-lg-8">
    <h2>Accessibility: Testing and Screen Reader Use</h2>
    <p>
        <a href="https://app.pluralsight.com/library/courses/accessibility-testing-and-screen-reader/table-of-contents"
            target="_blank">Link to course</a>
    </p>

    <h3 class="h4">Course Overview</h3>
    <p>
        Testing for accessibility should be embedded in our daily workflow. 
        There are tools to help us, but we also need to test manually with for example screen readers.
    </p>
    <p>
        In this course we cover: 
    </p>
    <ul>
        <li>Testing with different input modalities, like keyboard, touch and voice.</li>
        <li>Doing static code analysis, like HTML validation and inspecting source code in the browser.</li>
        <li>Testing with screen readers NVDA, JAWS and Voice Over (Mac OS and iOS).</li>
    </ul>

</article>

{{/inline}}
{{/base}}