{{#> base title="Meeting Web Accessibility Guidelines" homeref="../../../" }}
    {{#*inline "content"}}

        <article class="col-lg-8">
            <h2>Meeting Web Accessibility Guidelines (WCAG 2.1)</h2>
            <p>
                <a href="https://app.pluralsight.com/library/courses/web-accessibility-meeting-guidelines/table-of-contents">Link to course</a>
            </p>

            <h3 class="h4">Course Overview</h3>
            <p>
                Section 508 vs WCAG 2.1. Which guideline to choose?
            </p>
            <ul>
                <li>Semantic HTML</li>
                <li>Lists and navigation</li>
                <li>Accessible tables</li>
                <li>Accessible forms</li>
                <li>Accessible media</li>
                <li>Responsive web design and mobile devices</li>
            </ul>
            <p>
                Some screen reader testing.
            </p>
            <p>
                Accessibility is not a checklist. Meeting guidelines is dependent on each use case.
            </p>
            <p>
                This course is 100% applicable to WCAG 1.0 through WCAG 2.1.
            </p>

            <h3 class="h4">Choosing a Web Conformance Guideline</h3>
            <p>
                Section 508 VS Web Content Accessibility Guidelines (WCAG) 2.1.
            </p>
            <p>
                Guidelines provides help for us to make user interfaces accessible to people with disabilities.
                They also protect against lawsuits (it does happen), but we should rather focus on the possitive,
                in essence make accessible interfaces for all users and better SEO. Following guidelines also
                future proof our site and alo future proof ourselves (because of old age can impact vision and mobility).
            </p>
            <h4 class="h5">Section 508 (USA)</h4>
            <p>
                1986 amendment to Rehabilitation Act of 1973, updated in 2017.
                Targeting websites developed or used by federal agencies, or funded by a federal agency.
                <a href="https://www.section508.gov/" target="_blank">section508.gov</a>
            </p>

            <h4 class="h5">WCAG 2.1 (W3C)</h4>
            <p>
                WCAG 2.1 was released in 2018 by the WCAG Working Group (WCAG WG), 
                which is part of the World Wide Web Consortium (W3C) Web Accessibility Initiative (WAI).
                It is meant to be a globaly accepted standard of accessibility.
            </p>
            <p>
                WCAG 2.1 has <strong>78 criteria</strong> organized under <strong>13 guidelines</strong>
                under <strong>4 principles</strong>. 
                These principles are: Perceivable, Operable, Understandable, Robust (POUR).
            </p>
            <h5 class="h6">Perceivable</h5>
            <p>
                Users must be able to perceive the information being presented, the content must be available to everyone.
                Blind users should be able to perceive what information images convey. Videos should have captions so hearing impaired
                users can perceive them.
            </p>
            <h5 class="h6">Operable</h5>
            <p>
                Users must be able to operate the interface: mouse, keyboard, touch or other method. A physical dissibility should not get in the way. 
            </p>
            <h5 class="h6">Understandable</h5>
            <p>
                Users must be able to understand the information and the user interface.
            </p>
            <h5 class="h6">Robust</h5>
            <p>
                Users must be able to access the content as technologies advance (there are many browsers, devices, screen readers).
            </p>
            <h5 class="h6">Level of Conformance</h5>
            <p>
                Each criteria is labeled a level of conformance, ranging from A to AA to AAA.
                Level AAA contains Level AA that contains Level A.
            </p>
            <ul>
                <li>Level A: Most basic of web accessibility features</li>
                <li>Level AA: Biggest and most common barries</li>
                <li>Level AAA: Highest level of accessibility</li>
            </ul>
            <p>
                <a href="https://www.w3.org/WAI/standards-guidelines/wcag/" target="_blank">WCAG 2 Overview | Web Accessibility Initiative (WAI) | W3C</a>
            </p>
            <h3 class="h4">Section 508 VS WCAG</h3>
            <p>
                You should choose WCAG 2.1 AA (achieving AAA is very difficult and sometime not realistic)
            </p>
            <p>
                Section 508 is only scoped to the USA and limited to federal agencies.
                WCAG has global acceptance.
            </p>
            <p>
                Also, meeting WCAG 2.1 AA covers all of Section 508.
            </p>
            <p>
                Rest of the course will focus on WCAG 2.1 AA.
            </p>

            <h3 class="h4">HTML</h3>

            <h3 class="h4">Media</h3>

            <h3 class="h4">Responsive Web Design and Accessibility</h3>
            

        </article>

        {{/inline}}
        {{/base}}
