{{#> base homeref="../../../../" }}
    {{#*inline "content"}}

        <div class="col-lg-6">
            <h2>Modals</h2>
            <p>
                Making modals accessible... (keyboard focus inside modal, close it, restore focus to last element focused)
            </p>

        </div>

        <script>
            
        </script>

        {{/inline}}
        {{/base}}
