{{#> base title="Click event and enter key" homeref="../../../../" }}
    {{#*inline "content"}}

        <div class="col-lg-6">
            <h2>Click event and enter key</h2>
            <p>
                If we bind a click event to a span (with tabindex=0), enter key wont trigger it.
                But if we instead use a button, enter key will trigger the event.
            </p>

            <div class="mb-2">
                <span class="btn btn-danger" id="btn-01" role="button" tabindex="0">Span</span>
            </div>
            <div>
                <button class="btn btn-success" id="btn-02">Button</button>
            </div>
        </div>

        <script>

            const btn01 = document.getElementById('btn-01');
            const btn02 = document.getElementById('btn-02');

            btn01.addEventListener('click', function () {
                console.log('btn01 click event');
            });

            btn02.addEventListener('click', function () {
                console.log('btn02 click event');
            });
            
        </script>

        {{/inline}}
        {{/base}}
