{{#> base title="2.1.1 Keyboard: Click event and enter key" homeref="../../../../" }}
    {{#*inline "content"}}

        <div class="col-lg-8">
            <h2>2.1.1 Keyboard: Click event and enter key</h2>
            <p>
                If we bind a click event to a span (with tabindex=0), enter key wont trigger it.
                But if we instead use a button, enter key will trigger the event.
            </p>
            <p>
                Likewise if we bind a click event to a link, both click and enter key will trigger it.
            </p>

            <div class="mb-2">
                <span class="btn btn-danger" id="btn-01" role="button" tabindex="0">Span</span>
            </div>
            <div class="mb-2">
                <button class="btn btn-success" id="btn-02">Button</button>
            </div>
            <div>
                <a href="#" id="link-01">Link</a>
            </div>
        </div>

        <script>

            const btn01 = document.getElementById('btn-01');
            const btn02 = document.getElementById('btn-02');
            const link01 = document.getElementById('link-01');

            btn01.addEventListener('click', function () {
                console.log('btn01 click event');
            });

            btn02.addEventListener('click', function () {
                console.log('btn02 click event');
            });

            link01.addEventListener('click', function () { 
                console.log('link01 click event');
            });

        </script>

        {{/inline}}
        {{/base}}
