{{#> base title="2.4.7 Focus Visible: Bootstrap button states" homeref="../../../../" }}
    {{#*inline "content"}}

        <div class="col-lg-8">
            <h2>2.4.7 Focus Visible: Bootstrap button states</h2>
            
        </div>


        {{/inline}}
        {{/base}}
