{{#> base title="2.4.7 Focus Visible: Bootstrap button states" homeref="../../../../" }}
    {{#*inline "content"}}

        <div class="col-lg-8">
            <h2>2.4.7 Focus Visible: Bootstrap button states</h2>

            <h3 class="h4">First a look on vanilla items</h3>
            <div>
                <div class="mb-2">
                    <button>Vanilla button</button>
                </div>
                <div class="mb-2">
                    <a href="#">Vanilla link</a>
                </div>
                <div>
                    <input type="text">
                </div>
            </div>

            <h3 class="h4">Bootstrap items</h3>
            <div>
                <div>
                    <button class="btn btn-link">Button as link</button>
                </div>
                <div class="mb-2">
                    <button class="btn btn-primary">Button primary</button>
                    <button class="btn btn-secondary">Button secondary</button>
                    <button class="btn btn-warning">Button warning</button>
                    <button class="btn btn-danger">Button danger</button>
                    <button class="btn btn-success">Button success</button>
                </div>
                <div>
                    <input type="text" class="form-control">
                </div>
            </div>

            <h3 class="h4">Bootstrap buttons selected state</h3>
            <div id="filter-buttons">
                <button class="btn btn-outline-secondary">Filter 1</button>
                <button class="btn btn-outline-secondary">Filter 2</button>
                <button class="btn btn-outline-secondary">Filter 3</button>
                <button class="btn btn-outline-secondary">Filter 4</button>
            </div>
        </div>

        <script>
            const filterButtons = document.getElementById('filter-buttons').querySelectorAll('button');
            filterButtons.forEach(b => b.addEventListener('click', filterButtonClicked));

            function filterButtonClicked(ev) {
                filterButtons.forEach(b => {
                    b.classList.remove('btn-success');
                    b.classList.add('btn-outline-secondary');
                });

                ev.target.classList.remove('btn-outline-secondary');
                ev.target.classList.add('btn-success');
            }


        </script>


        {{/inline}}
        {{/base}}
