{{#> base title="Bootstrap button states" homeref="../../../../" }}
    {{#*inline "content"}}

        <div class="col-lg-8">
            <h2>Bootstrap button states</h2>
            
        </div>


        {{/inline}}
        {{/base}}
