{{#> base title="ARIA - Tabs" homeref="../../" }}
    {{#*inline "content"}}

        <div class="col-lg-8">
            <h2>ARIA - Tabs</h2>

            
        </div>

        {{/inline}}
        {{/base}}
