{{#> base title="ARIA - Accordian" homeref="../../" }}
    {{#*inline "content"}}

        <div class="col-lg-8">
            <h2>ARIA - Accordian</h2>

        </div>

        <script>
            
        </script>

    {{/inline}}
    {{/base}}
